<%- include('../../../templates/CVO-Homepage-NavBar.ejs') -%>
                <!-- Basic Examples -->

                <br><br><br>
                    <div class="card" >
                        <div class="header bg-grey">
                            <h2>
                                Frequently Asked Questions
                                
                            </h2>
                           
     <ul class="header-dropdown m-r--5">
                    <!-- Call Search -->
                    <li><a href="javascript:void(0);" ><i class="material-icons">search</i></a><input type="text" placeholder="Search keywords..."></li>
                    </ul>
                        </div>
                        <div class="body" style="height: 550px">
                            <div class="row clearfix">
                                <div class="col-xs-12 ol-sm-12 col-md-12 col-lg-12">
                                    <b></b>
                                    <div class="panel-group" id="accordion_1" role="tablist" aria-multiselectable="false">
                                        <% faq.forEach(function (i) { %>
                                        <div class="panel panel-primary">
                                            <div class="panel-heading" role="tab" id="heading<%=i.int_FAQId%>">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion_1" href="#<%= i.int_FAQId%>" aria-expanded="false" aria-controls="collapse<%=i.int_FAQId%>"  class="collapsed">
                                                        <%= i.str_Question%>
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="<%= i.int_FAQId%>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading<%=i.int_FAQId%>" style="height: 0px;">
                                                <div class="panel-body">
                                                    <%= i.str_Answer %>
                                                </div>
                                            </div>
                                        </div>   
                                     <% }); %>
                                    </div>
                                </div>
                                    </div>
                                </div>
                            </div>
                <!-- #END# Basic Examples -->
                <%- include('../../../templates/CVO-Homepage-Footer.ejs') -%>


