 <%- include('./header.ejs') -%>

 <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url(/websitePart/images/bg_34.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text align-items-center">
            <div class="col-md-7 col-sm-12 ftco-animate">
     
              <h1 class="mb-3">Learn</h1>
            </div>
          </div>
        </div>
      </div>
    </section>

 <section class="ftco-section-2" id="article">
    
      <div>
        <div class="section-2-blocks-wrapper row no-gutters">
          <div class="img col-sm-12 col-md-6" style="background-image: url('/Articles<%= learn[0].str_ImagePath %>');" data-aos="fade-right">
            
          </div>
          <div class="text col-md-6">
            <div class="text-inner align-self-start" data-aos="fade-up">
              
              <h3><%= learn[0].str_Topic %></h3>
              <p><%= learn[0].str_Content %></p>

            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./footer.ejs') -%>