<h2>For Impounded Dogs</h2>
   <table border="1px" style="width:100%">

  <% fid.forEach(function(i,ctr){ %>
        <% if(ctr+1==0 ){ %>
        <tr> 
        <% } %>
       <% if((ctr+1)%10==0){ %>
        <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
         
        </tr>
        <tr>
       <% } else { %>
       <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
       <% } %>
       
       <% }); %>

  
</table>
<h2>For Impounded Cats</h2>
   <table border="1px" style="width:100%">
  
    <% fic.forEach(function(i,ctr){ %>
        <% if(ctr+1==0 ){ %>
        <tr> 
        <% } %>
       <% if((ctr+1)%10==0){ %>
        <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
         
        </tr>
        <tr>
       <% } else { %>
       <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
       <% } %>
       

       <% }); %>

   
</table>
   <h2>For Animal Observation</h2>
      <table border="1px" style="width:100%">
  
     <% fao.forEach(function(i,ctr){ %>
          <% if(ctr+1==0 ){ %>
        <tr> 
        <% } %>
       <% if((ctr+1)%10==0){ %>
        <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
         
        </tr>
        <tr>
       <% } else { %>
       <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
       <% } %>
       
          <% }); %>

    
    </table>
<!--

  TO DO:
  DAPAT KAPAG 10 NA YUNG NASA ROW, MAGKAKAROON NG BAGONG ROW FOR THE NEXT 10 CAGES AND THEN BABA ULIT AND SO ON AND SO FORTH!

  -->
