<h2>For Impounded Dogs</h2>
   <table border="1px" style="width:100%">

  <% if(fid.length>0){
        fid.forEach(function(i,ctr){ %>
        <% if(ctr+1==0 ){ %>
        <tr> 
        <% } %>
        <% if((ctr+1)%10==0){ %>
        <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
         
        </tr>
        <tr>
       <% } else { %>
       <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
       <% } 
      
      
       
       }); 
       }else{
        %>
        <h4>No Cages</h4>
        <%  
       }

       %>

  
</table>
<h2>For Impounded Cats</h2>
   <table border="1px" style="width:100%">
  
    <% if(fic.length>0){
    fic.forEach(function(i,ctr){ %>
        <% if(ctr+1==0 ){ %>
        <tr> 
        <% } %>
       <% if((ctr+1)%10==0){ %>
        <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
         
        </tr>
        <tr>
       <% } else { %>
       <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
       <% } %>
       

       <% }); 
       }else{
        %>
        <h4>No Cages</h4>
        <%  
       }
       %>

   
</table>
   <h2>For Dogs Observation</h2>
      <table border="1px" style="width:100%">
  
     <% if(fdo.length>0){
     fdo.forEach(function(i,ctr){ %>
          <% if(ctr+1==0 ){ %>
        <tr> 
        <% } %>
       <% if((ctr+1)%10==0){ %>
        <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
         
        </tr>
        <tr>
       <% } else { %>
       <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
       <% } %>
       
          <% });
          }else{
        %>
        <h4>No Cages</h4>
        <%  
       }
           %>

    
    </table>

  <h2>For Cats Observation</h2>
      <table border="1px" style="width:100%">
  
     <% if(fco.length>0){ 
     fco.forEach(function(i,ctr){ %>
          <% if(ctr+1==0 ){ %>
        <tr> 
        <% } %>
       <% if((ctr+1)%10==0){ %>
        <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
         
        </tr>
        <tr>
       <% } else { %>
       <td onclick="iteratingCage('<%= JSON.stringify(i) %>');" style="cursor: pointer" width="15px"><div><small><%= i.int_CageNumber %></small></div>&nbsp;</td>
       <% } %>
       
          <% }); 
          }else{
        %>
        <h4>No Cages</h4>
        <%  
       }
          %>

    
    </table>
<!--

  TO DO:
  DAPAT KAPAG 10 NA YUNG NASA ROW, MAGKAKAROON NG BAGONG ROW FOR THE NEXT 10 CAGES AND THEN BABA ULIT AND SO ON AND SO FORTH!

  -->
