<%- include('../../../templates/CVO-Head-Location.ejs') -%>
    <script>
        document.getElementById("impounding_list").className = "active";
        document.getElementById("apprehension").className = "active";
        document.getElementById("transaction_list").className = "active";
    </script>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="block-header">
                        <h2>APPREHENDED ANIMAL</h2>
        </div>               
        <div class="card">

            <div class="body">
                <form id="ApprehendedAnimalForm" method="POST" action="/CVO_ApprehendedAnimal" enctype="multipart/form-data">
                   
                    <div class="col-sm-4" align="center">
                        <img src="../../images/animalPicture.jpg" onclick="$('#idpic').trigger('click'); " style="cursor: pointer;border:4px;border-style:solid;border-color:#2196f3" id="blah" src="#" alt="your image" width="200" height="200" /><br><br><br>
                        <script type="text/javascript">
                            function readURL(input) {
                                if (input.files && input.files[0]) {
                                    var reader = new FileReader();
                                    reader.onload = function(e) {
                                        $('#blah').attr('src', e.target.result);
                                        $('#modal_petPicture').attr('src', e.target.result);
                                    };
                                    reader.readAsDataURL(input.files[0]);
                                } else {
                                    $('#blah').attr('src', "../../images/animalPicture.jpg");
                                }
                            }
                        </script>
                        <div align="center">
                            <div class="form-line">
                                <label class="form-label">Animal Picture<font color="red">*</font></label>
                                <input type="file" name="myimage" id="idpic" onchange="readURL(this);" />
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">Pet Tag</label>
                        <div class="form-group form-float">

                            <div class="form-line">
                                <input type="text" class="form-control" name="pettag" autocomplete="off">
                            </div>
                        </div>
                    </div>
                     <script type="text/javascript" src="PetNameGenerator/petNameGenerator.js"></script>
                    <div class="col-sm-4">
                        <label class="form-label">Animal Alias<font color="red">*</font></label>
                      
                        <div class="form-group form-float">
                          <div class="input-group">
                            <div class="form-line">
                                <input type="text" class="form-control" name="alias" id="petName" autocomplete="off">
                            </div>
                             <span class="input-group-addon"><i class="material-icons" style="cursor:hand;" data-toggle="tooltip" data-placement="top" title="Generate a Pet Name" onclick="document.getElementById('petName').value= generateAnimalName();">cached</i></span>
                        </div></div>

                    </div>

                    <div class="col-sm-8">
                         <div class="col-sm-6">
                      <label class="form-label">Species<font color="red">*</font></label>
                  <div class="demo-radio-button" align="center">
                     <input type="radio" class="with-gap" checked id="dog" name="species" onclick="dogBreedChange();">
                     <label for="dog">Dog</label>
                     <input type="radio" id="cat" class="with-gap" name="species"  onclick="catBreedChange();">
                     <label for="cat">Cat</label>
                  </div>
                  </div>
                    <div class="col-sm-6" id="BreedField">
                  
                  </div>
                    <script>
                    dogBreedChange();
                    function dogBreedChange(){
                      
                       var dogBreedSelectField="";
                    <% br.forEach(function (i) { if(i.int_AnimalSpecies==0){%>
                     dogBreedSelectField+=`<option value='<%= i.int_BreedId %>' ><%= i.str_BreedName %></option>`;
                     <% } }); %>
                    
                    $('#BreedField').empty();
                    $('#BreedField').append(`
                        <label class="form-label">Breed<font color="red">*</font></label>
                   <div class="form-group form-float">
                    <div class="form-line" id="breed_line">
                  <select class="form-control show-tick" id="breed" name="breed" data-live-search="true" onchange='speciesIterate();required_validate(this); document.getElementById("modal_Breed").value=$("#breed option[value="+this.value+"]").text(); ' >
                     <option>select</option>
                     `+dogBreedSelectField+`
                  </select>
                   </div>
                  <label id="breed_required" class="error" style="display:  none">This field is required.</label>
                  </div>
                      `);
                  }
                    function catBreedChange(){
                      
                       var catBreedSelectField="";
                    <% br.forEach(function (i) { if(i.int_AnimalSpecies==1){%>
                     catBreedSelectField+=`<option value='<%= i.int_BreedId %>' ><%= i.str_BreedName %></option>`;
                     <% } }); %>
                    
                    $('#BreedField').empty();
                    $('#BreedField').append(`
                        <label class="form-label">Breed<font color="red">*</font></label>
                   <div class="form-group form-float">
                    <div class="form-line" id="breed_line">
                  <select class="form-control show-tick" id="breed" name="breed" data-live-search="true" onchange='speciesIterate();required_validate(this); document.getElementById("modal_Breed").value=$("#breed option[value="+this.value+"]").text(); ' >
                     <option>select</option>
                     `+catBreedSelectField+`
                  </select>
                   </div>
                  <label id="breed_required" class="error" style="display:  none">This field is required.</label>
                  </div>
                      `);
                  }
                    </script>
                    </div>


                    <div class="col-sm-4">
                        <label class="form-label">Sex<font color="red">*</font></label>
                        <div class="form-group form-float">

                            <div class="form-line">
                                <select class="form-control show-tick" data-live-search="true" name="sex">
                                    <option>select</option>
                                    <option value=0>Male</option>
                                    <option value=1>Female</option>


                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="form-label">Color Pattern<font color="red">*</font></label>
                        <div class="form-group form-float">

                            <div class="form-line">
                                <select class="form-control show-tick" data-live-search="true" name="ColorPattern">
                                    <option>select</option>
                                    <% cp.forEach(function (i) { %>
                                        <option value='<%= i.int_ColorPatternId %>'>
                                            <%= i.str_Description %>
                                        </option>
                                        <% }); %>


                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">Health Status<font color="red">*</font></label>

                        <div class="form-group form-float">
                            <div class="form-line">
                                <select class="form-control show-tick" data-live-search="true" name="healthStatus">
                                    <option>select</option>
                                    <option value=0>Healthy</option>
                                    <option value=1>Sick</option>



                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Barangay Caught<font color="red">*</font></label>
                        <div class="form-group form-float">

                            <div class="form-line">
                                <select class="form-control show-tick" data-live-search="true" name="barangay">
                                    <option>select</option>
                                    <% ba.forEach(function (i) { %>
                                        <option value='<%= i.int_BarangayId %>'>
                                            <%= i.str_BarangayName %>
                                        </option>
                                        <% }); %>


                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="form-label">Time Caught<font color="red">*</font></label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="time" class="form-control" name="timeApprehended" autocomplete="off">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Van Cage Number<font color="red">*</font></label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <select class="form-control show-tick" data-live-search="true" name="vanCageId" >
                                    <option>select</option>
                                    <% vc.forEach(function (i) { %>
                                        <option value='<%= i.int_VanCageId%>'>
                                            <%= i.int_VanId+"-"+i.int_VanCageId %>
                                        </option>
                                        <% }); %>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Enforcer<font color="red">*</font></label>
                        <div class="form-group form-float">

                            <div class="form-line">
                                <select class="form-control show-tick" data-live-search="true" name="employee">
                                    <option>select</option>
                                    <% em.forEach(function (i) { %>
                                        <option value='<%= i.int_EmployeeId %>'>
                                            <%= i.str_LastName+", "+i.str_FirstName+" "+i.str_MiddleName %>
                                        </option>
                                        <% }); %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label">Remarks<font color="red">*</font></label>
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input type="textarea" class="form-control" name="remarks" autocomplete="off">

                            </div>
                        </div>
                    </div>

                    <br>
                    <br><br><br>

                    <center><a class="col-sm-12" onclick="document.getElementById('ApprehendedAnimalForm').submit();"><button class="btn btn-primary waves-effect">ADD</button></a></center>
                </form>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>


            </div>
        </div>
    </div>

    <%- include('../../../templates/CVO-Footer-Location.ejs') -%>