<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("impounding_list").className="active";
document.getElementById("apprehension").className="active";
document.getElementById("transaction_list").className="active";

</script>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue" >
                <h2>
                CAGE ASSIGNMENTS
                </h2>
            
            </div>
            <div class="body"  >
            
            <div class="body table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>ALIAS</th>
                                        <th>ANIMAL BREED</th>
                                        <th>ANIMAL SPECIES</th>
                                        <th>SEX</th>
                                        <th>COLOR PATTERN</th>
                         
                                        <th>PET TAG</th>
                                        <th>VAN CAGE NUMBER</th>
                                       
                                        <th>CAGE CLASSIFICATION</th>
                                        <th>CAGE NUMBER</th>
                                    </tr>
                                </thead>
                                <tbody>
                                     <% ca.forEach(function(i){ %>
                                    <tr>
                                        <td><%= i[1].str_Alias %></td>
                                        <td><%= i[1].str_BreedName %></td>
                                        <td><%= i[1].int_AnimalSpecies == 0 ? "Dog" : "Cat" %></td>
                                        <td><%= i[1].int_Sex == 0 ? "Male" : "Female" %></td>
                                        <td><%= i[1].str_Description %></td>
                                        <td><%= i[1].str_PetTagNo != null && i[1].str_PetTagNo != ""? i[1].str_PetTagNo  : "NONE"; %></td>
                                        <td><%= i[1].int_VanCageNumber %></td>
                                    
                                        <td><% var c= i[0].cageType; %><%=  c == 0 ?"For Impounded Dogs" :c==1?"For Impounded Cats":c==2? "For Dogs Observation": c==3? "For Cats Observation" : "" ; %></td>
                                        <td><%= i[0].cage %></td>
                                    </tr>
                                    <% }); %>

                                </tbody>
                            </table>
                          
                        </div>
                          <br>
                           <center> <a href="/CVO_Apprehension" type="button" class="btn btn-primary waves-effect" >PLACE ALL</a>  <a href="/CVO_Apprehension" type="button" class="btn btn-primary waves-effect" >BACK</a></center>
            </div>
          </div>
          </div>


             <div class="modal fade" id="actionsCage" tabindex="-1" role="dialog" >
                <div class="modal-dialog" role="document" style="width:70%;">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">Cage Classification-Cage Number</h4>
                        </div>
                        <div class="modal-body">
                            <div  id="datatable">
                       
                   
                     
                          <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Alias</th>
                                                            <th>Apprehended in</th>
                                                            <th>Apprehended Date</th>
                                                            <th>Species</th>
                                                            <th>Breed</th>
                                                            <th>Color</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                 <!--   <tfoot>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Description</th>
                                                            <th>Price</th>
                                                        </tr> 
                                                    </tfoot> -->
                                                    <tbody>
                        
                                                        <tr>
                                                            <td>1</td>
                                                            <td>Jingjing</td>
                                                            <td>Concepcion</td>
                                                            <td>01/23/2018</td>
                                                            <td>Species</td>
                                                            <td>Breed</td>
                                                            <td>Color</td>
                                                            <td>
                                                                <div align="center">
                                                                    <a data-target="#PetInfo" data-toggle="modal"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="View">
                                                                            <i class="material-icons">remove_red_eye</i>&nbsp;
                                                                    </button>
                                                                   </a>
                                                                  
                                                                   <a  ><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Adopt Me">
                                                                            <i class="material-icons">add</i>Adopt
                                                                    </button>
                                                                   </a>
                                                              
                                                                </div>
                                                            </td>
                                                        </tr>
                                             
                                                    </tbody>
                                                </table>
                                            </div>
             
                
                        
                        </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>



<%- include('../../../templates/CVO-Footer-Location.ejs') -%>