<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("antirabies_list").className="active";
   document.getElementById("manufacturer_list").className="active";
   document.getElementById("maintenance_list").className="active";
</script>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="block-header">
      <h2>MANUFACTURER</h2>
   </div>
   <div class="card">
      <div class="body">
         <div align="center">
            <a data-toggle="modal" data-target="#add">
            <button type="button" class="edit btn btn-primary btn-block waves-effect" data-toggle="tooltip" data-placement="top" title="Add">
            <i class="material-icons">add</i>ADD NEW MANUFACTURER
            </button></a>
         </div>
         <br>
         <div class="row clearfix">
            <div >
               <!-- Nav tabs -->
               <ul class="nav nav-tabs tab-nav-right" role="tablist" >
                  <li role="presentation" class="active"><a href="#home_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>ALL</a></li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane animated pulse active" id="home_animation_2">
                     <div class="body">
                        <div class="table-responsive">
                           <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                            
                     
                                    <th>Manufacturer</th>
                                    <th>Active?</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% re.forEach(function(i){ %>
                                 <tr id="<%= i.int_ManufacturerId%>">
                                    <td><%= i.int_ManufacturerId %></td>
                                    <td><%= i.str_Manufacturer %></td>
                                    <td>
                                        <% if (i.int_Status == 1) { %>
                                                        <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked  onclick="statUpdate('<%= i.int_ManufacturerId%>','breed');" ><span class="lever switch-col-blue"></span></label>
                                                                    <small id="lever_<%= i.int_ManufacturerId%>">YES</small>
                                                                </div>
                                                                <% } else { %>
                                                                <div class="switch" align="center">
                                                                    <label><input type="checkbox"  onclick="statUpdate('<%= i.int_ManufacturerId%>','breed');" ><span class="lever switch-col-blue"></span></label>
                                                                    <small id="lever_<%= i.int_ManufacturerId%>">NO</small>
                                                                </div>
                                                                <% } %>

                                    </td>
                                    <td>
                                       <div align="center">
                                          <a data-target="#edit" data-toggle="modal" onclick="modal_iteration('<%= JSON.stringify(i) %>');">
                                          <button type="button" class="editButton btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">
                                          <i class="material-icons">mode_edit</i>
                                          </button>
                                          </a>
                                         <button type="button" onclick="deleteManufacturer('<%=i.int_ManufacturerId %>')" class="btn btn-grey  waves-effect" data-toggle="tooltip" data-placement="top" title="Delete" <% usedManufacturer.forEach(function(x){  if(i.int_ManufacturerId==x.int_ManufacturerId){%> disabled <% }})  %>>
                                                                            <i class="material-icons">delete</i></button>

                                       </div>
                                    </td>
                                 </tr>
                                 <% }); %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeInRight" id="profile_animation_2">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
function statUpdate(x){


      if(document.getElementById("lever_"+x).innerHTML=="YES"){
        document.getElementById("lever_"+x).innerHTML="NO";
        $.post("/CVO_Manufacturer/updateStatus",{id:x, status:0},function(data){  })
      }
      else{
        document.getElementById("lever_"+x).innerHTML="YES";
        $.post("/CVO_Manufacturer/updateStatus",{id:x, status:1},function(data){  })
      }
       
      }
function deleteManufacturer(x){
   $.post("/CVO_Manufacturer/delete",{id:x},function(data){ 
    
  })
  $('#'+x).remove();
 
}

</script>
<%- include('./addManufacturer.ejs') -%>
<%- include('./updateManufacturer.ejs') -%>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
