<%- include('../../../templates/CVO-Homepage-NavBar.ejs') -%>
<br><br><br><br>



                      

<script>

function summaryOfAppointment(i,dateSelected){

       
       
            document.getElementById('Appointment').value=dateSelected+" "+i.hour+":00";
         document.getElementById('modal_Appointment').value=MMMMDDYYYY(dateSelected)+" "+PRETTYTIME(i.hour);
         document.getElementById('Appointments').value=MMMMDDYYYY(dateSelected)+" "+PRETTYTIME(i.hour);

}
</script>
</div>
<div class="col-sm-1"></div>
         <div class="card col-sm-10">
            <br>
            <div class="body">
               <form id="petOwnerForm" method="POST" action="/PetOwner_PreRegistration" >
                  <input type="hidden"  class="form-control" id="Appointment" name="Appointment" >
                  <!---- NAME OF THE PET OWNER  ---->
                
                 <div class="col-sm-12">
                  <br>
                  <div class="col-md-12">
                     <div class="form-group form-float">
                     <label class="form-label">Registration Appointment Schedule</label>
                        <div class="form-line">
                          <a data-toggle="modal" data-target="#appointment" style="cursor:pointer;"> <input type="text" style="cursor:pointer;" disabled="" class="form-control" id="Appointments" onchange="document.getElementById('modal_Appointment').value=this.value;">
                           </a>
                           
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group form-float">
                     <label class="form-label">First Name</label>
                        <div class="form-line">
                           <input type="text" class="form-control" id="FName" name="FName" onchange="document.getElementById('modal_Name').value=this.value+' '+$('#MName').val()+' '+$('#LName').val();">
                           
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group form-float">
                     <label class="form-label">Middle Name</label>
                        <div class="form-line">
                           <input type="text" class="form-control" id="MName" name="MName"  onchange="document.getElementById('modal_Name').value=$('#FName').val()+' '+this.value+' '+$('#LName').val();">
                           
                        </div>
                     </div>
                  </div>
                  <div class="col-md-4">
                     <div class="form-group form-float">
                      <label class="form-label">Last Name</label>
                        <div class="form-line">
                           <input type="text" class="form-control" id="LName" name="LName"  onchange="document.getElementById('modal_Name').value=$('#FName').val()+' '+$('#MName').val()+' '+this.value;">
                          
                        </div>
                     </div>
                  </div>
                  <br>
                  <div class="col-md-4">
                  <label class="form-label">Cellphone Number</label>
                  <div class="form-group form-float">
                     <div class="form-line">
                        <input type="text" class="form-control" id="CellphoneNumber" name="CellphoneNumber"  onchange="document.getElementById('modal_CellphoneNumber').value=this.value;">
                     </div>
                  </div>
                  </div>
                  <div class="col-md-8">
                  <label class="form-label">Email Address</label>
                  <div class="form-group form-float">
                     <div class="form-line">
                        <input type="email" class="form-control" name="emailAddress"  onchange="document.getElementById('modal_EmailAddress').value=this.value;">
                     </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                  <label class="form-label">Barangay</label>
                  <select class="form-control show-tick" id="barangay" name="barangay"  data-live-search="true" onchange='document.getElementById("modal_Barangay").value=$("#barangay option[value="+this.value+"]").text();'>
                     <option>select</option>
                     <% ba.forEach(function(i){ %>
                     <option value='<%= i.int_BarangayId %>'><%= i.str_BarangayName %></option>
                     <% }); %>
                  </select>
                
                  </div>
                   <div class="col-md-6">
                  <label class="form-label">Start Year of Stay in the City</label>
                  <select class="form-control show-tick" data-live-search="true" name="startYear"  onchange="document.getElementById('modal_StartYear').value=this.value;">
                     <option>select</option>
                     <% var curryear=(new Date()).getFullYear(); for(var x=0;x<=100;x++){ %>
                     <option value='<%= curryear %>'><%= curryear %></option>
                     <% curryear--; } %>
                  </select>
                  </div>
                  <div class="col-md-12">
                  <label class="form-label">Complete Address</label>
                  <div class="form-group form-float">
                     <div class="form-line">
                        <input type="email" class="form-control" name="completeAddress"  onchange="document.getElementById('modal_CompleteAddress').value=this.value;">
                     </div>
                  </div>
                  </div>
                 </div>
                  <br><br>
                  <center>
                     <a ><button class="btn btn-primary waves-effect" type="button" data-toggle="modal" data-target="#summary">PRE-REGISTER</button></a>&nbsp;
                     <a href="/CVO_Registration"><button class="btn btn-primary waves-effect" type="button">CANCEL</button></a>
                  </center>
               </form>
               <br><br>
            </div>
         </div>

   <div class="modal fade" id="appointment" tabindex="-1" role="dialog" >
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         <div class="modal-header bg-blue">
            <h4 class="modal-title" id="defaultModalLabel">APPOINTMENT SCHEDULE</h4>
         </div>
         <div class="modal-body">
         
    
       
               <link rel='stylesheet' href='/fullcalendar/fullcalendar.css' />                   
                     
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
<div id='calendar' class="col-sm-6"></div>
<div id='appointmentTime' class="col-sm-6">
    <h2>Appointment Time</h2>
    <center><p id="choosenDate">please select a date on the calendar..</p></center>

</div>
</div>

                   
         </div>
         <div class="modal-footer">
          <br><br>
         </div>
      </div>
   </div>
</div>

<div class="modal fade" id="summary" tabindex="-1" role="dialog" >
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header bg-blue">
            <h4 class="modal-title" id="defaultModalLabel">SUMMARY OF PRE-REGISTRATION</h4>
         </div>
         <div class="modal-body">
            
                     <table class="table table-striped">
                     <tr>
                           <td><strong>APPOINTMENT SCHEDULE:</strong></td>
                           <td><input type="text" id="modal_Appointment" class="form-control" disabled></td>
                        </tr>
                        <tr>
                           <td><strong>NAME:</strong></td>
                           <td><input type="text" id="modal_Name" class="form-control" disabled></td>
                        </tr>
                        <tr>
                           <td><strong>CELLPHONE NUMBER:</strong></td>
                           <td>  <input type="text" id="modal_CellphoneNumber" class="form-control" disabled></td>
                        </tr>
                        <tr>
                           <td><strong>EMAIL ADDRESS:</strong></td>
                           <td><input type="text" id="modal_EmailAddress" class="form-control" disabled></td>
                        </tr>
                        <tr>
                           <td><strong>BARANGAY:</strong></td>
                           <td><input type="text" id="modal_Barangay" class="form-control" disabled> </td>
                        </tr>
                        <tr>
                           <td><strong>COMPLETE ADDRESS:</strong></td>
                           <td><input type="text" id="modal_CompleteAddress" class="form-control" disabled></td>
                        </tr>
                        <tr>
                           <td><strong>START YEAR OF STAY IN THE CITY:</strong></td>
                           <td><input type="text" id="modal_StartYear" class="form-control" disabled></td>
                        </tr>
                     </table>
                 
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" onclick="$('#petOwnerForm').submit();">PROCEED</button>
            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">EDIT</button>
         </div>
      </div>
   </div>
</div>
 </div>
    </section>


 <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="../../plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="../../plugins/bootstrap-select/js/bootstrap-select.js"></script>
<script src="PrettifyDate/PrettifyDate.js"></script>
<script src='/fullcalendar/lib/jquery.min.js'></script>
<script src='/fullcalendar/lib/moment.min.js'></script>
<script src='/fullcalendar/fullcalendar.js'></script>
    <!-- Slimscroll Plugin Js -->
    <script src="../../plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="../../plugins/node-waves/waves.js"></script>

    

    <!-- Custom Js -->
    <script src="../../js/admin.js"></script>
    <script src="../../js/pages/tables/jquery-datatable.js"></script>
        <!-- Custom Js -->
   <script src="../../js/pages/ui/tooltips-popovers.js"></script>


    <!-- Demo Js -->
    <script src="../../js/demo.js"></script>

    <script >


    $(function() {

  // page is now ready, initialize the calendar...

  $('#calendar').fullCalendar({
   
     height: 400,
     contentHeight: 450,
     dayClick: function(date) {
     
          $.ajax({
                                              type: 'POST',
                                              dataType: "json",
                                              data: { id: date.format() },
                                                          url: '/CVO_VaccinationScheduling/getSlots',
                                                          success: function(data) {
                                                          
                                                               //alert(JSON.stringify(data));
                                                               $('#appointmentTime').empty();
                                                                $('#appointmentTime').append(`<h2>Appointment Time</h2>`);
                                                               $('#appointmentTime').append( `<center><h4 id="choosenDate">`+MMMMDDYYYY(date.format())+`</h4></center><hr>`);
                                                               data.forEach(function(i,x){
                                                               
                                                                
                                                              if(i.totalSlots-i.takenSlots==0){
                                                                $('#appointmentTime').append(`<button class="btn btn-danger btn-lg btn-block waves-effect" type="button"  disabled>`+i.hour+`-`+("0"+(parseInt((i.hour).split(":")[0])+1)).slice(-2)+`:`+(i.hour).split(":")[1]+`(`+0+` Slots)</button>`);
                                                              }else{
                                                                $('#appointmentTime').append(`<a class="btn btn-primary btn-lg btn-block waves-effect" data-dismiss="modal"
                                                                                            onclick='summaryOfAppointment(`+JSON.stringify(i)+`,"`+date.format()+`");'>`
                                                                                            +i.hour+`-`+("0"+(parseInt((i.hour).split(":")[0])+1)).slice(-2)+`:`+(i.hour).split(":")[1]+`(`+(i.totalSlots-i.takenSlots)+
                                                                                            ` Slots)</a>`);
                                                            }

                                                            });
                                                          }
                                                      });
     },
     validRange: function(nowDate) {
    return {
      start: nowDate
    
    };
  },

     events: [{}]

  })

});
</script>         
</body>

</html>
