<%- include('../../../templates/CVO-PetOwner-Head.ejs') -%>
<script>
	document.getElementById("Appointment_list").className="active";	
</script>
<div class="row clearfix">
	<div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header  bg-blue">
				<h2>Upload Vaccination Certificate</h2>
			</div>
			<div class="body" style="min-height:75%">
				<div class="col-sm-6">
					<img src="../../images/animalPicture.jpg" onclick="$('#idpic').trigger('click');" style="cursor: pointer;border:4px;border-style:solid;border-color:#2196f3" id="blah" src="#" alt="your image" width="100%" /><br><br><br>
					<script type="text/javascript">
						function readURL(input) {
						    if (input.files && input.files[0]) {
						      var reader = new FileReader();
						      reader.onload = function (e) {
						        $('#blah').attr('src', e.target.result);
						          $('#modal_petPicture').attr('src', e.target.result);
						      };
						      reader.readAsDataURL(input.files[0]);
						    }
						    else{
						      $('#blah').attr('src',"../../images/animalPicture.jpg");
						    }
						}
					</script>
				</div>
				<div class="col-sm-6">
					<div class="info-box hover-zoom-effect">
						<div class="icon bg-light-blue">
							<i class="material-icons">error</i>
						</div>
						<div class="content">
							<div class="text">NOTE!</div>
							Scanned or Clear Picture of Vaccination Certificate must be uploaded. 
						</div>
					</div>
					<form method="post" action="/PetOwner_UploadVaccinationCertificate" id="uploadcert" enctype="multipart/form-data">
						<input type="hidden" name="currentPetId" value='<%= pe.int_PetId %>'>
					<div class="form-line col-sm-8">
						<label class="form-label">Vaccination Certificate</label>
						<input type="file" name="myimage" id="idpic" onchange="readURL(this);" />
					</div>
					</form><br>
					<div class="form-line col-sm-6">
						<label class="form-label">Pet Tag</label>
						<input type="text" class="form-control" value="<%= pe.str_PetTagNo %>" disabled />
					</div>
					<div class="form-line col-sm-6">
						<label class="form-label">Pet Name</label>
						<input type="text" class="form-control" value="<%= pe.str_PetName %>" disabled />
					</div>
					<div class="form-line col-sm-6">
						<label class="form-label">Species</label>
						<input type="text" class="form-control" value="<%= pe.int_AnimalSpecies ==0 ? 'Dog' : 'Cat' %>" disabled />
					</div>
					<div class="form-line col-sm-6">
						<label class="form-label">Breed</label>
						<input type="text" class="form-control" value="<%= pe.str_BreedName %>" disabled />
					</div>
					<div class="form-line col-sm-12"><hr>
					
						
						<center>
                              	<a onclick="document.getElementById('uploadcert').submit();"><button class="btn btn-primary waves-effect" type="button" data-toggle="modal" data-target="#summary">UPLOAD</button></a>&nbsp;
                         		<a href="/CVO_Registration"><button class="btn btn-primary waves-effect" type="button">CANCEL</button></a>
                         	</center>
                         </div>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
<%- include('../../../templates/CVO-PetOwner-Footer.ejs') -%>

