<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
    document.getElementById("impounding_list").className="active";
    document.getElementById("animalreleasing").className="active";
    document.getElementById("transaction_list").className="active";
</script>


<div class="block-header">
<h2>ANIMAL RELEASING</h2>
</div>


        <div class="card">
           
            <div class="body" >
                        
                         <!-- Nav tabs -->
               <ul class="nav nav-tabs tab-nav-right" role="tablist" >
               
                  <li role="presentation" class="active"><a href="#home_animation_5" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>REDEMPTION</a></li>
                  <li role="presentation" class=""><a href="#home_animation_6" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>ADOPTION</a></li>
                  <li role="presentation" class=""><a href="#home_animation_7" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>ANIMAL TURNOVER</a></li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content">
                  
                  <div role="tabpanel" class="tab-pane animated fadeIn  active" id="home_animation_5">
                    <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="min-height: 300px">
                                                    <thead>
                                                   
                                                        <tr>
                                                            <th>Impounding Site</th>
                                                            <th>Cage Number</th>
                                                           <th>Species</th>
                                                           <th>Breed</th>
                                                           <th>Color Pattern</th>
                                                           <th>Sex</th>
                                                           
                                                            <th >Action</th>
                                                        </tr>
                                                    </thead>
                                               
                                                    <tbody>
                                                    <% fr.forEach(function(i){ %>
                                                    <tr>
                                                    <td><%= i.str_BarangayName+"(ID: "+i.int_ImpoundingSiteId+")" %></td>
                                                    <td><%= i.int_CageNumber %></td>
                                                    <td><%= i.int_AnimalSpecies==0? "Dog":"Cat"; %></td>
                                                    <td><%= i.str_BreedName %></td>
                                                    <td><%= i.str_Description %></td>
                                                    <td><%= i.int_Sex==0?"Male": "Female"; %></td>
                                                    
                                                    <td><center><a class="btn btn-primary " onclick="redempRelease('<%= i.int_AnimalId %>')"><i class="material-icons">reply</i>RELEASE</a></center></td>
                                                    </tr>
                                                      <% }); %>
                                                    </tbody>
                                                </table>
                                        
                </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn  " id="home_animation_6">
                   <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="min-height: 300px">
                                                    <thead>
                                                   
                                                        <tr>
                                                            <th>Impounding Site</th>
                                                            <th>Cage Number</th>
                                                           <th>Species</th>
                                                           <th>Breed</th>
                                                           <th>Color Pattern</th>
                                                           <th>Sex</th>
                         
                                                            <th >Action</th>
                                                        </tr>
                                                    </thead>
                                               
                                                    <tbody>
                                                    <% fa.forEach(function(i){ %>
                                                    <tr>
                                                    <td><%= i.str_BarangayName+"(ID: "+i.int_ImpoundingSiteId+")" %></td>
                                                    <td><%= i.int_CageNumber %></td>
                                                    <td><%= i.int_AnimalSpecies==0? "Dog":"Cat"; %></td>
                                                    <td><%= i.str_BreedName %></td>
                                                    <td><%= i.str_Description %></td>
                                                    <td><%= i.int_Sex==0?"Male": "Female"; %></td>
                                          
                                                    <td><center><a class="btn btn-primary " onclick="adoptionRelease('<%= i.int_AnimalId %>')"><i class="material-icons">reply</i>RELEASE</a></center></td>
                                                    </tr>
                                                      <% }); %>
                                                    </tbody>
                                                </table>
                                        
                </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn  " id="home_animation_7">
                    <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" style="min-height: 300px">
                                                    <thead>

                                                        <tr>
                                                            <th>Batch ID</th>
                                                            <th>Pickup Date</th>
                                                            <th>Organization Name</th>
                                                            <th>Email</th>
                                                            <th>Telephone Number</th>
                                                            <th>Cellphone Number</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                 <!--   <tfoot>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Description</th>
                                                            <th>Price</th>
                                                        </tr> 
                                                    </tfoot> -->
                                                    <tbody>
                                                   
                                                         <% 
                                                    function MMMMDDYYYY(i){
                         var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                         var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                         var now = new Date(i);
                         return months[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear();
                        
                       }
                                                    batch.forEach(function(i){ %>
                                                        <tr>
                                                            <td><%= i.int_BatchOfAnimalTurnOver %></td>
                                                              <td width="60px"><%= MMMMDDYYYY(i.dat_DateOfPickUp) %></td>
                                                            <td><%= i.str_OrganizationName %></td>
                                                            <td><%= i.str_Email %></td>
                                                            <td><%= i.str_TelephoneNumber %></td>
                                                            <td><%= i.str_CellphoneNumber %></td>
                                                           
                                                            <td>
                                                                <div align="center">
                                                                
                                                                   <a class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="" onclick="batchrelease('<%= i.int_BatchOfAnimalTurnOver%>');">
                                                                            <i class="material-icons">reply</i>RELEASE ANIMALS
                                                                    </a>

                                                                   
                                                              
                                                                </div>
                                                            </td>
                                                        </tr>
                                          <% }); %>
                                                    </tbody>
                                                </table>
                                        
                </div>
                  </div>
               </div>
                        
                      
                           
            </div>
        </div>

<script>
  function redempRelease(x){
swal({
  title: "Release this Impounded Animal?",
  text: "Once confirmed, Impounded Animal will be updated as Released!",
  icon: "info",
  buttons: true,

})
.then((willDelete) => {
  if (willDelete) {
   
    $.post("/CVO_AnimalReleasing/release/redemption",{id:x},function(data){
      if(data="SUCCESS"){
         swal("Released Animal Recorded!", {
      icon: "success",
    }).then(function(){
      window.location.reload()
    });
      }
      else{

      }
    })
  } else {

  }
});
    
  }

  function adoptionRelease(x){
swal({
  title: "Release this Impounded Animal?",
  text: "Once confirmed, Impounded Animal will be updated as Released!",
  icon: "info",
  buttons: true,

})
.then((willDelete) => {
  if (willDelete) {
   
    $.post("/CVO_AnimalReleasing/release/adoption",{id:x},function(data){
      if(data="SUCCESS"){
         swal("Released Animal Recorded!", {
      icon: "success",
    }).then(function(){
      window.location.reload()
    });
      }
      else{

      }
    })
  } else {

  }
});
    
  }

   function batchrelease(x){
swal({
  title: "Release Impounded Animals in this Batch?",
  text: "Once confirmed, Impounded Animals will be updated as Released!",
  icon: "info",
  buttons: true,

})
.then((willDelete) => {
  if (willDelete) {
   
    $.post("/CVO_AnimalReleasing/release/animalturnover",{id:x},function(data){
      if(data="SUCCESS"){
         swal("Released Animal Recorded!", {
      icon: "success",
    }).then(function(){
      window.location.reload()
    });
      }
      else{

      }
    })
  } else {

  }
});
    
  }
</script>


 

   

<%- include('../../../templates/CVO-Footer-Location.ejs') -%>