<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("impounding_list").className="active";
document.getElementById("timpounding").className="active";
document.getElementById("maintenance_list").className="active";

</script>

<div class=" col-xs-4">
 
             <div class="col-sm-12">
        <div class="card bg-blue" style="min-height:365px">
      <br>
                         <div class="col-sm-5"><i class="material-icons" style="font-size:130px">grid_on</i> </div> 
                         
                         <div class="col-sm-7" ><br><h3 style="float:left">IMPOUNDING SITE INFORMATION</h3></div>             
                             <div class="col-sm-12">
                  
                              
                                    <style>
                                        td,
                                        th,
                                        tr {

                                           border-bottom: 1px solid #ddd;
                                       
                                            height: 30px;
                                            padding: 3px;

                                        }
                                    </style>
                                    <table style="width: 90%; " align="center">
                                        <tr style=" color: white;">
                                            <th>IMPOUNDING SITE ID</th>
                                            <td>
                                               <%= inf[0].int_ImpoundingSiteId %>
                                            </td>
                                        </tr >
                                            <tr style=" color: white;">
                                            <th>BARANGAY LOCATED</th>
                                            <td>
                                                <%= inf[0].str_BarangayName %>
                                            </td>
                                        </tr>
                                       
                                    </table>

                                 
                                  
                                    <a class='btn btn-default btn-block waves-effect' onclick="$('#addCage').modal('toggle');"><i class="material-icons">local_hospital</i>&nbsp;&nbsp;&nbsp;&nbsp;ADD CAGE</a>
                                    <a class='btn btn-default btn-block waves-effect' onclick="searchCage();" ><i class="material-icons">search</i>SEARCH CAGE</a>
                                      <a class='btn btn-default btn-block waves-effect'  <% if( afe.length == 0){ %> disabled onclick="swal('There is no animal to be Euthanize' );"<% }else{  %> onclick="$('#batchOfEuthanasia').modal('toggle');"<% } %>><i class="material-icons">info_outline</i>&nbsp;&nbsp;BATCH OF EUTHANASIA<span class="badge bg-red"><%= afe.length %></span></a>

                            
                        </div>
                    
</div>
        </div>
        <div class="col-sm-12">
                    <div class="info-box hover-zoom-effect">
                        <div class="icon bg-blue">
                            <i class="material-icons">border_all</i>
                        </div>
                        <div class="content">
                            <div class="text">Total Slots</div>
                            <div class="number"><%= inf[0].Total %></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="info-box hover-zoom-effect">
                        <div class="icon bg-blue">
                            <i class="material-icons">pets</i>
                        </div>
                        <div class="content">
                            <div class="text">Occupied Slots</div>
                            <div class="number"><%= inf[0].Total - inf[0].AvailableCagePerImpounding %></div>
                        </div>
                    </div>
                </div>
    </div>
<div class=" col-xs-8">
  <div class="block-header" style="float:left">

                <h2>
                CAGES IN IMPOUNDING AREA
                </h2>

                                   
                            
            </div>
              <div>
           <a href="javascript:void(0);" class="btn btn-default" style="float:right" onclick="changeView();" >
                                        <i class="material-icons">remove_red_eye</i>CHANGE VIEW
                                    </a>
                                    <script>
                                    var currentview= "datatable";
                                    function changeView(){
                                      if(currentview=="datatable"){
                                        document.getElementById('tiledpicture').hidden=false;
                                        document.getElementById('datatable').hidden=true;
                                        currentview="tiled";
                                      }
                                      else{
                                        document.getElementById('tiledpicture').hidden=true;
                                        document.getElementById('datatable').hidden=false;
                                        currentview="datatable";
                                      }
                                    }
                                    </script>
</div>
<br><br>
        <div class="card">
      
                                 
            <div class="body" hidden id="datatable">
             <%- include('./view_datatable.ejs') -%>
            </div>
            <div class="body"  id="tiledpicture" style="min-height:550px">
             <%- include('./view_tiled.ejs') -%>
            </div>
        </div>
    </div>



             <div class="modal fade" id="batchOfEuthanasia" tabindex="-1" role="dialog">
                <div class="modal-dialog " role="document" style="width:1200px">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">BATCH OF EUTHANASIA</h4>
                        </div>
                        <div class="modal-body">
                        <div class="table-responsive" style="max-height: 500px">
                                   <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                       <thead>
                                           <tr>
                                               <th></th>
                                          
                                               <th>Cage Number</th>
                                               <th>Animal ID</th>
                                               <th>Species</th>
                                               <th>Sex</th>
                                               <th>Breed</th>
                                               <th>Color Pattern</th>
                                               <th>Total Lodging Days</th>
                                               <th>Picture</th>
                                           </tr>
                                       </thead>
                           
                                       <tbody>
                                        <% afe.forEach(function(i,ctr){ %>
                                       <tr>
                                       
                                        <td width="50px"> <div class="switch">
                                          <label><input type="checkbox"  onChange=""><span class="lever switch-col-blue"></span></label>
                              
                           </div></td>
                           
                           <td><%= i.int_CageNumber %></td>
                                         <td><%= i.int_AnimalId %></td>
                                         <td><%= i.int_AnimalSpecies ==0 ? "Dog" : "Cat" %></td>
                                           <td><%= i.int_Sex ==0 ? "Male" : "Female" %></td>
                                            <td><%= i.str_BreedName %></td>
                                             <td><%= i.str_Description %></td>
                                              <td><%= i.LodgingDays %></td>
                                               <td></td>

                                       </tr>
                                         
                                        <% }); %>
                                                  
                                        
                                          
                                       </tbody>
                                   </table>
                               </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
<%- include('./modal_cageInfo.ejs') -%>
<script>

function searchCage(){
  swal("Enter Cage Number:", {
  content: "input",

})
.then((value) => {

     if(!/^[0-9]+$/.test(value)  && value!=null){
    searchCage();
  }
  else if(value==null){
    
  }
  else{
      $.post("/CVO_Impounding/Cages/getCageId",{id1:value,id2:'<%= inf[0].int_ImpoundingSiteId %>'},function(data){
        iterateCage(data.int_CageId,value)
      });
  }
});
}
</script>
   <div class="modal fade" id="addCage" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">ADD CAGES</h4>
                        </div>
                        <div class="modal-body">
                             
                                
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">ADD CAGES</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>


             




  <div class="modal fade" id="AnimalInfo" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">View Impounded Animal Details</h4>
                        </div>
                        <div class="modal-body" align="center">
                        
                              <img src="/images/douglas.jpg"/>
                              <table class="table table-striped">
                              <tr>
                                  <td><strong>NAME:</strong></td>
                                  <td>Whitey Houston</td>
                                </tr>

                      
                                <tr>
                                  <td><strong>COLOR PATTERN:</strong></td>
                                  <td>Full White</td>
                                </tr>
                                <tr>
                                  <td><strong>BREED:</strong></td>
                                  <td>Spitz</td>
                                </tr>
                                <tr>
                                  <td><strong>SEX:</strong></td>
                                  <td>Male</td>
                                </tr>
                                <tr>
                                  <td><strong>APREHENDED IN BARANGAY:</strong></td>
                                  <td>Sto. Nino 1</td>
                                </tr>
                                <tr>
                                  <td><strong>APREHENSION DATE:</strong></td>
                                  <td>01/27/2018</td>
                                </tr>
                                <tr>
                                  <td><strong>IMPOUNDING SITE:</strong></td>
                                  <td>Concepcion</td>
                                </tr>
                                <tr>
                                  <td><strong>CAGE NUMBER:</strong></td>
                                  <td>127</td>
                                </tr>
                              
                                
                                

                                
                                
                              </table>

                        </div>
                        <div class="modal-footer">
                          
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>