<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("impounding_list").className="active";
document.getElementById("surrenderanimal").className="active";
document.getElementById("transaction_list").className="active";

</script>







<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
<div class="block-header">
<h2>SURRENDERING DETAILS</h2>
</div>
        <div class="card" >
          
            <div class="body">
            <form id="surrenderedAnimal" method="POST" action="/CVO_SurrenderAnimal/record"  enctype="multipart/form-data" >
            <h4 >Concerned Citizen Information</h4><hr>
            <div class="col-sm-4">
                                        <label class="form-label">First Name</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="Firstname" autocomplete="off" >
                                        
                                       </div>
                                </div>
                                </div>
                                <div class="col-sm-4">
                                        <label class="form-label">Middle Name</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="Middlename" autocomplete="off" >
                                        
                                       </div>
                                </div>
                                </div>
                                <div class="col-sm-4">
                                        <label class="form-label">Last Name</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="Lastname" autocomplete="off" >
                                        
                                       </div>
                                </div>
                                </div>
                               
                                  <div class="col-sm-6">
                                        <label class="form-label">Contact Number</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="Contact" autocomplete="off" >
                                        
                                       </div>
                                </div>
                                </div>
                                <div class="col-sm-6">
                                        <label class="form-label">Email Address</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="Email" autocomplete="off" >
                                        
                                       </div>
                                </div>
                                </div>
                               
            
            <h4>Surrendered Animal Details</h4><hr>
            <div class="col-sm-4">
                     <img src="../../images/animalPicture.jpg" onclick="$('#idpic').trigger('click'); "style="cursor: pointer;border:4px;border-style:solid;border-color:#2196f3" id="blah" src="#" alt="your image" width="300" height="300" /><br><br><br>
                     <script type="text/javascript">
                        function readURL(input) {
                            if (input.files && input.files[0]) {
                              var reader = new FileReader();
                              reader.onload = function (e) {
                                $('#blah').attr('src', e.target.result);
                                  $('#modal_petPicture').attr('src', e.target.result);
                              };
                              reader.readAsDataURL(input.files[0]);
                            }
                            else{
                              $('#blah').attr('src',"../../images/animalPicture.jpg");
                            }
                        }
                     </script>
                     <div align="center">
                        <div class="form-line">
                           <label class="form-label">Animal Picture</label>
                           <input type="file" name="myimage" id="idpic" onchange="readURL(this);" />
                        </div>
                     </div>
                     <br>
                  </div>
                   <div class="col-sm-4">
                        <label class="form-label">Pet Tag</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="pettag" autocomplete="off" >
                                    </div>
                                </div>
                                </div>
                  <div class="col-sm-4">
                        <label class="form-label">Animal Alias</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control" name="alias"  >
                                    </div>
                                </div>
                                </div>
                                <div class="col-sm-8">
                         <div class="col-sm-6">
                      <label class="form-label">Species</label>
                  <div class="demo-radio-button" align="center">
                     <input type="radio" class="with-gap" checked id="dog" name="species" onclick="dogBreedChange();">
                     <label for="dog">Dog</label>
                     <input type="radio" id="cat" class="with-gap" name="species"  onclick="catBreedChange();">
                     <label for="cat">Cat</label>
                  </div>
                  </div>
                    <div class="col-sm-6" id="BreedField">
                  
                  </div>
                    <script>
                    dogBreedChange();
                    function dogBreedChange(){
                      
                       var dogBreedSelectField="";
                    <% br.forEach(function (i) { if(i.int_AnimalSpecies==0){ console.log(i)%>
                     dogBreedSelectField+=`<option value='<%= i.int_BreedId %>' ><%= i.str_BreedName %></option>`;
                     <% } }); %>
                    
                    $('#BreedField').empty();
                    $('#BreedField').append(`
                        <label class="form-label">Breed</label>
                   <div class="form-group form-float">
                    <div class="form-line" id="breed_line">
                  <select class="form-control show-tick" id="breed" name="breed" data-live-search="true" onchange='speciesIterate();required_validate(this); document.getElementById("modal_Breed").value=$("#breed option[value="+this.value+"]").text(); ' >
                     <option>select</option>
                     `+dogBreedSelectField+`
                  </select>
                   </div>
                  <label id="breed_required" class="error" style="display:  none">This field is required.</label>
                  </div>
                      `);
                  }
                    function catBreedChange(){
                      
                       var catBreedSelectField="";

                    <% br.forEach(function (i) { if(i.int_AnimalSpecies==1){ console.log(i)%>
                     catBreedSelectField+=`<option value='<%= i.int_BreedId %>' ><%= i.str_BreedName %></option>`;
                     <% } }); %>

                    
                    $('#BreedField').empty();
                    $('#BreedField').append(`
                        <label class="form-label">Breed</label>
                   <div class="form-group form-float">
                    <div class="form-line" id="breed_line">
                  <select class="form-control show-tick" id="breed" name="breed" data-live-search="true" onchange='speciesIterate();required_validate(this); document.getElementById("modal_Breed").value=$("#breed option[value="+this.value+"]").text(); ' >
                     <option>select</option>
                     `+catBreedSelectField+`
                  </select>
                   </div>
                  <label id="breed_required" class="error" style="display:  none">This field is required.</label>
                  </div>
                      `);
                  }
                    </script>

                    </div>
 
                                 <div class="col-sm-2">
                                        <label class="form-label">Sex</label>
                                <div class="form-group form-float">
                             
                                        <select class="form-control show-tick" data-live-search="true" name="sex">
                                         <option>select</option>
                                        <option value="0">Male</option>
                                        <option value="1">Female</option>
                                    </select>
                                    
                                </div>
                                </div>
                                 <div class="col-sm-3">
                                        <label class="form-label">Color Pattern</label>
                                <div class="form-group form-float">
                               
                                        <select class="form-control show-tick" data-live-search="true" name="colorpattern">
                                         <option>select</option>
                                        <%  cp.forEach(function(i){ %>
                                        <option value="<%= i.int_ColorPatternId %>"><%= i.str_Description %>  </option>
                                        <% }); %>
                                        
                                     
                                    </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                      <label class="form-label">Health Status</label>
                                <div class="form-group form-float">
                              
                                        <select class="form-control show-tick" data-live-search="true" name="healthstatus">
                                         <option>select</option>
                                        <option value="0">Healthy</option>
                                        <option value="1">Sick</option>
                      
                                    </select>
                                     
                                </div>
                                </div>
                                 <div class="col-sm-4">
                                        <label class="form-label">Barangay Caught</label>
                                <div class="form-group form-float">
                                   
                                        <select class="form-control show-tick" data-live-search="true" name="barangay">
                                         <option>select</option>
                                        <% ba.forEach(function(i){ %>
                                        <option value="<%= i.int_BarangayId %>"><%= i.str_BarangayName %></option>
                                        <% }); %>
                                        
                                     
                                    </select>
                                      
                                </div>
                                </div>
                                 <div class="col-sm-4">
                                        <label class="form-label">Date & Time Caught</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="datetime-local" class="form-control" name="dtmcaught" autocomplete="off">
                                        
                                       </div>
                                </div>
                                </div>
                              
                                 <div class="col-sm-12">
                                        <label class="form-label">Remarks</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="textarea" class="form-control" name="remarks" autocomplete="off">
                                        
                                       </div>
                                </div>
                                </div>

                                        <br>
                                <br><br><br>
                              
                                <center><a  class="col-sm-12" onclick="document.getElementById('surrenderedAnimal').submit()"><button class="btn btn-primary waves-effect" >SUBMIT</button></a></center>
                                </form>
                                <div>&nbsp;</div> <div>&nbsp;</div>
                     
                   
            </div>
        </div>
    </div>

    <div class="modal fade" id="cageAssignment" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">Surrendered Animal Cage Assignments</h4>
                        </div>
                        <div class="modal-body">
                              <table class="table table-striped">
                                <tr>
                                  <td><strong>Impounding Site:</strong></td>
                                  <td>Impounding Site#1</td>
                                </tr>
                                <tr>
                                  <td><strong>Cage Classification:</strong></td>
                                  <td>Monday</tr>
                                <tr>
                                  <td><strong>Cage Number:</strong></td>
                                 <td>19</td>
                                 </tr>
                                
                              </table>
                        </div>
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

<%- include('../../../templates/CVO-Footer-Location.ejs') -%>