<div class="modal fade" id="transferCageModal" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document" style="width:90%;">
      <div class="modal-content">
         <div class="modal-header bg-blue">
            <h4 class="modal-title" id="defaultModalLabel">TRANSFER CAGE</h4>
         </div>
         <div class="modal-body"  style="min-height:550px;" >
            <!--START -->
            <div class="col-sm-6">
               <div class="bg-blue" style="min-height:73%;overflow-x: auto;padding:5px;max-height:90%" id="divTransferAnimalInfo">
               </div>
            </div>
            <div class="col-sm-6">
           

               <div class="" style="min-height:73%;overflow-x: auto;padding:5px;max-height:90%" id="divTransferForm">
                  <h2>Cage Transferring Form<small><i class="material-icons" style="font-size: 20px;color: gray">forward</i> </small></h2>
                  <hr>
                  <label class="form-label">Impounding Site</label>
                  <div class="form-group">
                     <div class="form-line">
                        <select class="form-control show-tick" data-live-search="true"  onchange="changeImpoundingSite(this.value)"   >
                           <% als.forEach(function (x) { 
                              %>
                           <option value='<%= x.int_ImpoundingSiteId %>' >
                              <%= x.str_BarangayName %>(ID: <%= x.int_ImpoundingSiteId  %>) 
                           </option>
                           <% }); %>
                        </select>
                     </div>
                  </div>
                  <label class="form-label">Cage</label>
               
                     <div class="form-group">
                        <div class="form-line" id="selectCageTransfer">
                           <select class="form-control"  id="CageTransferring">
                              <% AllCages.forEach(function(i){ 
                                 var cageType="";
                                   if(i.int_CageType==0){
                                    cageType="For Impounded Dogs";
                                   }
                                   else if(i.int_CageType == 1){
                                    cageType="For Impounded Cats";
                                   }
                                   else if(i.int_CageType== 2){
                                    cageType="For Dog Observation";
                                   }
                                   else{
                                     cageType="For Cat Observation";
                                   }
                                 %>
                              <option value='<%= i.int_CageId %>,<%= i.int_CageNumber %>' >
                                 <%= i.int_CageNumber %>(<%= cageType %>)
                              </option>
                              <% }); %>
                           </select>
                        </div>
                     </div>
                  
                  <br><br>
                  <label class="form-label">Reason of Transferring</label>
                  <div class="form-group">
                     <div class="form-line">
                        <select class="form-control show-tick" data-live-search="true" id="ReasonOfTransferring">
                           <option value='0'>Sick</option>
                           <option value='1'>Aggression</option>
                           <option value='5'>Others(Be specific on Remarks Field)</option>
                        </select>
                     </div>
                  </div>
                  <br>
                  <label class="form-label">Remarks</label>
                  <div class="form-group">
                     <div class="form-line">
                        <textarea rows="4" class="form-control no-resize" id="RemarksTransferring"></textarea>
                     </div>
                  </div>
               </div>
            </div>
            <!--END -->
         </div>
         <div class="modal-footer">
            <a class="btn btn-primary waves-effect" onclick="submitTransferringForm();">PROCEED</a>
            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
         </div>
      </div>
   </div>
</div>
<script>
   function changeImpoundingSite(x){
     $.post("/CVO_Impounding/Cages/getCagesInImpoundingSite",{id:x},function(data){
       
       var cageSelection=`<select class="form-control show-tick" data-live-search="true" id="CageTransferring" >`;
       data.forEach(function(q){
           cageSelection+=`<option value='`+q.int_CageId+`,`+q.int_CageNumber+`' >`+q.int_CageNumber+`( `+(determineCage(q.int_CageType))+` )</option>`;
       });
         cageSelection+=`</select>`;
       
       $("#selectCageTransfer").children().remove();
       $("#selectCageTransfer").append(cageSelection)
       
     });
   }
   function submitTransferringForm(){
    $.post("/CVO_Impounding/Cages/Transfer",{
        id1: document.getElementById('CageTransferring').value.split(",")[0],
        id2: document.getElementById('CageTransferring').value.split(",")[1],
        id3: document.getElementById('ReasonOfTransferring').value,
        id4: document.getElementById('RemarksTransferring').value,
        id5: document.getElementById('animalToTransfer').innerHTML,
    },
    function(data){
   swal("Animal Transferring is Recorded!", "Transferred Animal to another cage is successfully recorded.", "success");
           $('#transferCageModal').modal('hide');
                      $('#cageInfo').modal('hide');
    });
   }
   function determineCage(y){
           var cageType="";
           if(y==0){
                                 cageType="For Impounded Dogs";
                                }
                                else if(y == 1){
                                 cageType="For Impounded Cats";
                                }
                                else if(y== 2){
                                 cageType="For Dog Observation";
                                }
                                else{
                                  cageType="For Cat Observation";
                                }
                                return cageType;
         }
   
     function transferCage(x,y){
                    var kindOfAnimal=""
      if(y==5){
        kindOfAnimal="/CVO_Impounding/Cages/getSurrenderedAnimalDetails";
      }
      else if(y==1){
        kindOfAnimal="/CVO_Impounding/Cages/getApprehendedAnimalDetails";
      }
         $.post(kindOfAnimal,{id:x},function(data){
   
       $('#divTransferAnimalInfo').empty();
       $('#divTransferAnimalInfo').append(`
          <div class="col-sm-2"></div>
                         <div class="col-sm-4">
               <br><br>
               <center>
                   <font size="100px"><i class="material-icons" style="font-size: 150px;color: white">pets</i></font>
                   <br>
                   <h5 style="color: white">&nbsp;&nbsp;&nbsp;ANIMAL INFORMATION</h5></center>
               </div>
                         <div class="col-sm-4" align="center"><br><br>
                   <img style="border:4px;border-style:solid;border-color:white " id="blah " src="/Animals/`+data[0].str_AnimalPicturePath+`" width="170px" height="170px" />
               </div>
               <div class="col-sm-2"></div>
               <div class="col-sm-12">
               <div class="col-sm-2"></div>
   
               <div class="col-sm-8" align="center">
                  
                      <table style="width: 100%;color:white;">
                               <tr>
                                   <th>ANIMAL ID</th>
                                   <td id="animalToTransfer">`+data[0].int_AnimalId+`</td>
                               </tr>
                               <tr>
                                   <th>ALIAS/PET NAME</th>
                                   <td>`+data[0].str_Alias+`</td>
                               </tr>
                               <tr>
                                   <th>PET TAG</th>
                                   <td>`+(data[0].str_PetTagNo!=""? data[0].str_PetTagNo : "none")+`</td>
                               </tr>
                              <tr>
                                   <th>ANIMAL SPECIES</th>
                                   <td>`+(data[0].int_AnimalSpecies==0? "Dog": "Cat")+`</td>
                               </tr>
                               <tr>
                                   <th>BREED</th>
                                   <td>`+data[0].str_BreedName+`</td>
                               </tr>
                              <tr>
   
                                   <th>SEX</th>
                                   <td>`+(data[0].int_Sex==0? "Male": "Female")+`</td>
                               </tr>
                               <tr>
                                   <th>COLOR PATTERN</th>
                                   <td>`+data[0].str_Description+`</td>
                               </tr>
                               <tr >
                                   <th>DATE APPREHENDED</th>
                                   <td>`+MMMMDDYYYY(data[0].dtm_DateTimeApprehension)+`</td>
                                    
                               </tr>
                               <tr>
                                    <th>BARANGAY APPREHENDED</th>
                                   <td>`+data[0].str_BarangayName+`</td>
                               </tr>
                               
                           </table>
   
               </div>
               <div class="col-sm-2"></div>
               </div>
         `);
   
       $('#transferCageModal').modal('toggle');
     });
     }
</script>