<div class="table-responsive" style="max-height: 500px">
                                   <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                       <thead>
                                           <tr>
                                               <th>Cage Number</th>
                                               <th>Cage Classification</th>
                                               <th>Status</th>
                                               <th>Action</th>
                                           </tr>
                                       </thead>
                                    <!--   <tfoot>
                                           <tr>
                                               <th>ID</th>
                                               <th>Description</th>
                                               <th>Price</th>
                                           </tr>
                                       </tfoot> -->
                                       <tbody>
                                         <% AllCages.forEach(function(i){ %>
                                           <tr>
                                               <td onclick="iterateCage(<%= i.int_CageId %>,<%= i.int_CageNumber %>);"><%= i.int_CageNumber %></td>
                                               <% var cageType="";
                                         if(i.int_CageType==0){
                                          cageType="For Impounded Dogs";
                                         }
                                         else if(i.int_CageType == 1){
                                          cageType="For Impounded Cats";
                                         }
                                         else if(i.int_CageType== 2){
                                          cageType="For Dog Observation";
                                         }
                                         else{
                                           cageType="For Cat Observation";
                                         }
                                         %>
                                               <td onclick="iterateCage(<%= i.int_CageId %>,<%= i.int_CageNumber %>);"><%= cageType %></td>
                                             

                                               <% if(i.int_Status == 1){ %>
                                                 <td><div class="switch" align="center">
                                                        <label><input type="checkbox" checked ><span class="lever switch-col-blue"></span></label>
                                                        <span>Active</span>
                                                    </div></td>
                                                <td>
                                               <% } else { %>
                                                 <td><div class="switch" align="center">
                                                        <label><input type="checkbox"><span class="lever switch-col-blue"></span></label>
                                                        <span>Inactive</span>
                                                    </div></td>
                                                <td>
                                               <% } %>

                                                   <div align="center">


                                                        <a onclick="iterateCage(<%= i.int_CageId %>,<%= i.int_CageNumber %>);"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">
                                                               <i class="material-icons">apps</i>
                                                       </button></a>
                                                   </div>
                                               </td>
                                           </tr>
                                           <% }); %>
                                       </tbody>
                                   </table>
                               </div>
  