<div class="table-responsive">
   <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
      <thead>
      
         <tr>
            <th>Pet Tag</th>
            <th>Pet Name</th>
            <th>Pet Owner ID</th>
            <th>Pet Owner Name</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
      <% re.forEach(function(i){ %>
         <tr>
            <td><%= i.str_PetTagNo %></td>
            <td><%= i.str_PetName %></td>
            <td><%= i.int_PetOwnerId %></td>
            <td><%= i.str_PetOwnerLastName+", "+i.str_PetOwnerFirstName+" "+i.str_PetOwnerMiddleName %></td>
            <td>
               <div align="center">
                  <a data-toggle="modal" data-target="#evaluate" onclick="iterateEvaluation('<%= JSON.stringify(i) %>')"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Record Vaccination">
                  <i class="material-icons">remove_red_eye</i>&nbsp;Evaluate
                  </button>
                  </a>
               </div>
            </td>
         </tr>
         <% }); %>
      </tbody>
   </table>
</div>
<div class="modal fade" id="evaluate" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document" style="width:95%">
      <div class="modal-content" >
         <div class="modal-header bg-blue">
            <h4>Uploaded Vaccination Certificate Evaluation</h4>
         </div>
         <div class="modal-body">
            <div class="col-sm-12">
               <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                     <a href="#home_with_icon_title" data-toggle="tab">
                     <i class="material-icons">home</i> PET INFORMATION
                     </a>
                  </li>
                  <li role="presentation">
                     <a href="#profile_with_icon_title" data-toggle="tab">
                     <i class="material-icons">face</i> OWNER INFORMATION
                     </a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                     <div class="col-sm-4">
                        <img src="../../images/animalPicture.jpg" onclick="" style="cursor: pointer;border:4px;border-style:solid;border-color:#2196f3" id="eval_PetPic" width="80%" />
                     </div>
                     <div class="col-sm-8 ">
                        <div class="form-line col-sm-6">
                           <label class="form-label">Pet Tag</label>
                           <input type="text" class="form-control" id="eval_PetTag" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Pet Name</label>
                           <input type="text" class="form-control" id="eval_PetName" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Date Registered</label>
                           <input type="text" class="form-control" id="eval_PetDateReg"  disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Birthday</label>
                           <input type="text" class="form-control" id="eval_Birthday" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Sex</label>
                           <input type="text" class="form-control" id="eval_Sex" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Species</label>
                           <input type="text" class="form-control" id="eval_Species" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Breed</label>
                           <input type="text" class="form-control" id="eval_Breed" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Color Pattern</label>
                           <input type="text" class="form-control" id="eval_ColorPattern" disabled />
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="profile_with_icon_title">
                     <div class="col-sm-4">
                        <img src="../../images/noIdPicture.jpg" onclick="" style="cursor: pointer;border:4px;border-style:solid;border-color:#2196f3" id="eval_PetOwnerPic"  width="80%"  />
                     </div>
                     <div class="col-sm-8">
                        <div class="form-line col-sm-6">
                           <label class="form-label">Pet Owner Id</label>
                           <input type="text" class="form-control" id="eval_PetOwnerId" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Name</label>
                           <input type="text" class="form-control" id="eval_Name" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Date Registered</label>
                           <input type="text" class="form-control" id="eval_PetOwnerDateReg" disabled />
                        </div>
                        <div class="form-line col-sm-12">
                           <label class="form-label">Address</label>
                           <input type="text" class="form-control" id="eval_Address" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Phone Number</label>
                           <input type="text" class="form-control" id="eval_PhoneNumber" disabled />
                        </div>
                        <div class="form-line col-sm-6">
                           <label class="form-label">Email</label>
                           <input type="text" class="form-control" id="eval_Email" disabled />
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <br><br> 
            <div class="col-sm-12">
               <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                     <a href="#home_with_icon_title" data-toggle="tab">
                     <i class="material-icons">home</i> VACCINATION CERTIFICATE
                     </a>
                  </li>
               </ul>
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="home_with_icon_title">
                     <div class="col-sm-6">
                     <div class="form-group" >
                     <label class="form-label" style="float:left">Date Of Vaccination<font color="red">*</font></label> 
                        <div class="form-line col-sm-12">
                           
                           <input type="date" class="form-control" />
                        </div>
                        <label class="form-label" style="float:left">Vaccine<font color="red">*</font></label>
                        <div class="form-line col-sm-4">
                           
                           <input type="text" class="form-control"   />
                        </div>
                        <div class="form-line col-sm-4">
                           <label class="form-label">Classification</label>
                           <input type="text" class="form-control"  disabled />
                        </div>
                        <div class="form-line col-sm-4">
                           <label class="form-label">Manufacturer</label>
                           <input type="text" class="form-control"  disabled />
                        </div>
                         <label class="form-label" style="float:left">LOT Number<font color="red">*</font></label>
                        <div class="form-line col-sm-12">
                          
                           <input type="text" class="form-control" />
                        </div>
                        <div class="col-sm-12" align="center">
                           <a  href="/CVO_VaccinationRecording" class="btn btn-primary waves-effect">APPROVE</a>
                           <a class="btn btn-danger waves-effect" data-dismiss="modal">REJECT</a>
                           <a class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</a>
                        </div>
                     </div>
                     </div>
                     <div class="col-sm-6">
                        <img src="../../images/noIdPicture.jpg" style="cursor: pointer;border:4px;border-style:solid;border-color:#2196f3" id="eval_VaccineCert" width="100 %" height="50%"  />
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="PrettifyDate/PrettifyDate.js"></script>
<script>
   function iterateEvaluation(i){
      var e=JSON.parse(i);
      //PET INFORMATION
      document.getElementById('eval_PetTag').value=e.str_PetTagNo;
      document.getElementById('eval_PetName').value=e.str_PetName;
      document.getElementById('eval_PetDateReg').value=MMMMDDYYYY(e.PetDateReg);
      document.getElementById('eval_Birthday').value=MMMMDDYYYY(e.dat_Birthday);
      document.getElementById('eval_Sex').value= e.int_Sex==0 ? "Male" : "Female";
      document.getElementById('eval_Species').value= e.int_AnimalSpecies==0 ? "Dog" : "Cat";
      document.getElementById('eval_Breed').value=e.str_BreedName;
      document.getElementById('eval_ColorPattern').value=e.str_Description;
      document.getElementById('eval_PetPic').src="Pets"+e.str_AnimalPicturePath;
      
      //PET OWNER INFORMATION
      document.getElementById('eval_PetOwnerPic').src="PetOwners"+e.str_PetOwnerPicturePath;
      document.getElementById('eval_PetOwnerId').value=e.int_PetOwnerId;
      document.getElementById('eval_Name').value=e.str_PetOwnerLastName+", "+e.str_PetOwnerFirstName+" "+e.str_PetOwnerMiddleName;
      document.getElementById('eval_PetOwnerDateReg').value=MMMMDDYYYY(e.PetOwnerDateReg);
      document.getElementById('eval_Address').value=e.str_CompleteAddress+"("+e.str_BarangayName+")";
      document.getElementById('eval_PhoneNumber').value=e.str_PhoneNo;
      document.getElementById('eval_Email').value=e.str_Email;

      //VACCINATION CERTIFICATE
      document.getElementById('eval_VaccineCert').src="VaccinationCertificate"+e.str_VaccinationCertificatePicturePath;
   }
</script>