<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("vaccination_list").className="active";
document.getElementById("transaction_list").className="active";

</script>

  <section >
            
            <div class="row clearfix">
                <div >
                    <div class="card">
                      
                        <div class="body">
 
              
                            
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab1" data-toggle="tab">
                                        <i class="material-icons">home</i> WALK-IN VACCINATION
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#tab2" data-toggle="tab">
                                        <i class="material-icons">face</i> SCHEDULED
                                    </a>
                                </li>
                                 <li role="presentation">
                                    <a href="#tab3" data-toggle="tab">
                                        <i class="material-icons">face</i> REQUESTS
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#tab4" data-toggle="tab">
                                        <i class="material-icons">face</i> DONE
                                    </a>
                                </li>
                            </ul>

                          
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade in active" id="tab1">
                                        <%- include('./tabs/walkin.ejs') -%>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab2">
                                        <%- include('./tabs/scheduled.ejs') -%>
                                </div>
                                 <div role="tabpanel" class="tab-pane fade" id="tab3">
                                        <%- include('./tabs/requests.ejs') -%>
                                </div>

                                 <div role="tabpanel" class="tab-pane fade" id="tab4">
                                        <%- include('./tabs/done.ejs') -%>
                                </div>

                              
                            </div>
                        </div>
           
                                 
                    </div>
                </div>

            
    
       

       <div class="modal fade" id="schedule" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">VACCINATION REQUIREMENTS</h4>
                        </div>
                        <div class="modal-body">
                            <h3>Before proceeding, please check if the owner is able to bring the following:</h3>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <input type="checkbox" class="filled-in" id="ig_checkbox">
                                    <label for="ig_checkbox">Requirements#1</label>
                                </span>
                            </div>
                             <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <input type="checkbox" class="filled-in" id="ig_checkbox">
                                    <label for="ig_checkbox">Requirements#2</label>
                                </span>
                            </div>
                              <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <input type="checkbox" class="filled-in" id="ig_checkbox">
                                    <label for="ig_checkbox">Requirements#3</label>
                                </span>
                            </div>
               
                        </div>
                        <div class="modal-footer">
                        <a  href="/CVO_VaccinationScheduling" class="btn btn-link waves-effect">PROCEED</a>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>

            </div>
       


       <div class="modal fade" id="recording" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">RECORDING OF VACCINATION REQUIREMENTS</h4>
                        </div>
                        <div class="modal-body">
                            <h3>Before proceeding, please check if the owner is able to bring the following:</h3>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <input type="checkbox" class="filled-in" id="ig_checkbox">
                                    <label for="ig_checkbox">Requirements#1</label>
                                </span>
                            </div>
                             <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <input type="checkbox" class="filled-in" id="ig_checkbox">
                                    <label for="ig_checkbox">Requirements#2</label>
                                </span>
                            </div>
                              <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <input type="checkbox" class="filled-in" id="ig_checkbox">
                                    <label for="ig_checkbox">Requirements#3</label>
                                </span>
                            </div>
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <input type="checkbox" class="filled-in" id="ig_checkbox">
                                    <label for="ig_checkbox">Requirements#4</label>
                                </span>
                            </div>
               
                        </div>
                        <div class="modal-footer">
                       <a  href="/CVO_VaccinationRecording" class="btn btn-link waves-effect">PROCEED</a>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>
       
    </section>


<%- include('../../../templates/CVO-Footer-Location.ejs') -%>