<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
   document.getElementById("query_list").className="active";
   document.getElementById("impounding_q").className="active";
   document.getElementById("euthanizedanimals_q").className="active";
    document.title="Euthanized Animals";
</script>
<div class="">
   <div class="block-header" >
      <h2>
         EUTHANIZED ANIMALS
      </h2>
   </div>
   <div class="col-sm-12">
      <div class="card" style="min-height: 200px">
         <div class="body">   

            <h4>Query Type</h4>
            <hr>
            <center>
            <div class="demo-radio-button" >
               <input name="querytype" type="radio" class="with-gap radio-col-blue" value="1"  id="unconstrained" checked="" >
               <label for="unconstrained">Unconstrained</label>
               <input name="querytype" type="radio" class="with-gap radio-col-blue" value="2" id="constrained" >
               <label for="constrained">Constrained</label>
            </div>
            </center>
            <h4>Euthanasia Date Range</h4>
            <hr>
            <div class="col-sm-6">
            <label class="form-label">Start Date</label>
            <div class="form-group form-float">
               <div class="form-line">
                  <input type="date" class="form-control">
               </div>
            </div>
            </div>
            
            <div class="col-sm-6">
            <label class="form-label">End Date</label>
            <div class="form-group form-float">
               <div class="form-line">
                  <input type="date" class="form-control">
               </div>
            </div>
            </div>
            <h4>Species</h4>
                <hr>
                <center>
                <div class="demo-radio-button" >
                    <input name="species_v" type="radio" class="with-gap radio-col-blue" value="1"  id="dogs_v" checked="" >
                    <label for="dogs">Dogs</label>
                    <input name="species_v" type="radio" class="with-gap radio-col-blue" value="2" id="cats_v" >
                    <label for="cats">Cats</label>
                    <input name="species_v" type="radio" class="with-gap radio-col-blue" value="3" id="all_v" >
                    <label for="all">All</label>
                 </div>
                </center>
            <br>
         </div>
         <div class="footer">
               <center>
                  <a class="btn bg-blue waves-effect">APPLY</a>
               </center>
         </div>
         <br>
      </div>
   </div>
   <div class="col-sm-12">
      <div class="card" style="min-height: 200px">
         <div class="body">
            <label class="form-label">EXPORT EUTHANIZED ANIMALS LIST</label>
            <div class="body">
               <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                     <thead>
                        <tr>
                           <th>Euthanasia ID</th>
                           <th>Date & Time of Euthanasia</th>
                           <th>Reason</th>
                           <th>Pet Tag number</th>
                           <th>Pet Name/Alias</th>
                           <th>Species</th>
                           <th>Breed</th>
                           <th>Color Pattern</th>
                           <th>Sex</th>
                           <th>Health Status</th>
                           <th>Animal Status</th>
                        </tr>
                     </thead>
                     <tbody>
                         <% euthanized.forEach(function (i) { %>
                        <tr>
                           <td><%=i.int_EuthanasiaHistoryId%></td>
                           <td><%=i.dtm_DateTimeOfEuthanasia%></td>
                           <td><%=i.int_Reason%></td>
                           <td><%=i.str_PetTagNo%></td>
                           <% if (i.int_AnimalStatus == 6) { %>
                           <td><%=i.str_PetName%></td>
                           <% } else { %>
                           <td><%=i.str_Alias%></td>
                           <% } %>
                           <% if (i.int_AnimalSpecies == 0) { %>
                           <td>Dog</td>
                           <% } else if (i.int_AnimalSpecies == 1) { %>
                           <td>Cat</td>
                           <% } %>
                           <td><%=i.str_BreedName%></td>
                           <td><%=i.str_Description%></td>
                           <% if (i.int_Sex == 0) { %>
                            <td>Male</td>
                            <% } else if (i.int_Sex == 1) { %>
                            <td>Female</td>
                            <% } %>
                            <% if (i.int_HealthStatus == 4) { %>
                                <td>Euthanized</td>
                            <% } %>
                            <% if (i.int_AnimalStatus == 4) { %>
                                <td>Euthanized</td>
                            <% } %>
                        </tr>
                        <% }); %>
                     </tbody>
                  </table>
               </div>
            </div>
            <!-- #END# Exportable Table -->
         </div>
      </div>
   </div>
</div>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>