<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
   document.getElementById("query_list").className="active";
   document.getElementById("redemption_q").className="active";
    document.title="Claimed Animals";
</script>
<div class="">
   <div class="block-header" >
      <h2>
         CLAIMED ANIMALS
      </h2>
   </div>
   <div class="col-sm-12">
      <div class="card" style="min-height: 200px">
         <div class="body">   

            <h4>Query Type</h4>
            <hr>
            <center>
            <div class="demo-radio-button" >
               <input name="querytype" type="radio" class="with-gap radio-col-blue" value="1"  id="unconstrained" checked="" >
               <label for="unconstrained">Unconstrained</label>
               <input name="querytype" type="radio" class="with-gap radio-col-blue" value="2" id="constrained" >
               <label for="constrained">Constrained</label>
            </div>
            </center>
            <h4>Date Range</h4>
            <hr>
            <div class="col-sm-6">
            <label class="form-label">Start Date</label>
            <div class="form-group form-float">
               <div class="form-line">
                  <input type="date" class="form-control">
               </div>
            </div>
            </div>
            
            <div class="col-sm-6">
            <label class="form-label">End Date</label>
            <div class="form-group form-float">
               <div class="form-line">
                  <input type="date" class="form-control">
               </div>
            </div>
            </div>
            <h4>Species</h4>
                <hr>
                <center>
                <div class="demo-radio-button" >
                    <input name="species_v" type="radio" class="with-gap radio-col-blue" value="1"  id="dogs_v" checked="" >
                    <label for="dogs">Dogs</label>
                    <input name="species_v" type="radio" class="with-gap radio-col-blue" value="2" id="cats_v" >
                    <label for="cats">Cats</label>
                    <input name="species_v" type="radio" class="with-gap radio-col-blue" value="3" id="all_v" >
                    <label for="all">All</label>
                 </div>
                </center>
            <br>
            <h4>Type of Owner of the Lost Pet</h4>
            <hr>
            <center>
            <div class="demo-radio-button" >
                <input name="owner" type="radio" class="with-gap radio-col-blue" value="1"  id="Registered" checked="" >
                <label for="Registered">Registered</label>
                <input name="owner" type="radio" class="with-gap radio-col-blue" value="2" id="Unregistered" >
                <label for="Unregistered">Unregistered</label>
                <input name="owner" type="radio" class="with-gap radio-col-blue" value="3" id="all" >
                <label for="all">All</label>
             </div>
            </center>
        <br>
         </div>
         <div class="footer">
               <center>
                  <a class="btn bg-blue waves-effect">APPLY</a>
               </center>
         </div>
         <br>
      </div>
   </div>
   <div class="col-sm-12">
      <div class="card" style="min-height: 200px">
         <div class="body">
            <label class="form-label">EXPORT CLAIMED ANIMALS LIST</label>
            <div class="body">
               <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                     <thead>
                        <tr>
                           <th>Redemption ID</th>
                           <th>Date & Time of Redemption</th>
                           <th>Owner Status</th>
                           <th>Owner</th>
                           <th>Pet Tag number</th>
                           <th>Pet Name</th>
                           <th>Species</th>
                           <th>Breed</th>
                           <th>Color Pattern</th>
                           <th>Sex</th>
                           <th>Animal Status</th>
                        </tr>
                     </thead>
                     <tbody>
                         <% redemption.forEach(function (i) { %>
                         <% function MMMMDDYYYY(i){

                            var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                            var now = new Date(i);
                            return months[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear();
                             }
                        %>
                        <tr>
                           <td><%=i.int_RedemptionTransactionId%></td>
                           <td><%=MMMMDDYYYY(i.dtm_DateTimeOfRedemption)%></td>
                           <% if (i.int_OwnerStatus == 0) { %>
                            <td>Pet Owner</td>
                            <% } else if (i.int_OwnerStatus == 1) { %>
                            <td>Non-Citizen</td>    
                            <% } %>
                            <td><%=i.Owner%></td>
                           <td><%=i.str_PetTagNo%></td>
                           <td><%=i.str_PetName%></td>
                            <% if (i.int_AnimalSpecies == 0) { %>
                            <td>Dog</td>
                            <% } else if (i.int_AnimalSpecies == 1) { %>
                            <td>Cat</td>    
                            <% } %>
                           <td><%=i.str_BreedName%></td>
                           <td><%=i.str_Description%></td>
                           <% if (i.int_Sex == 0) { %>
                            <td>Male</td>
                            <% } else if (i.int_Sex == 1) { %>
                            <td>Female</td>   
                            <% } %> 
                            <td>Claimed</td>
                        </tr>
                        <% }) %>
                     </tbody>
                  </table>
               </div>
            </div>
            <!-- #END# Exportable Table -->
         </div>
      </div>
   </div>
</div>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>