<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
   document.getElementById("query_list").className="active";
   document.getElementById("vaccination_q").className="active";
    document.title="Vaccination";
</script>
<div class="">
   <div class="block-header" >
      <h2>
         VACCINATION
      </h2>
   </div>
   <div class="col-sm-12">
      <div class="card" style="min-height: 200px">
         <div class="body">   

            <h4>Query Type</h4>
            <hr>
            <center>
            <div class="demo-radio-button" >
               <input name="querytype" type="radio" class="with-gap radio-col-blue" value="1"  id="unconstrained" checked="" >
               <label for="unconstrained">Unconstrained</label>
               <input name="querytype" type="radio" class="with-gap radio-col-blue" value="2" id="constrained" >
               <label for="constrained">Constrained</label>
            </div>
            </center>
            <h4>Vaccination Date Range</h4>
            <hr>
            <div class="col-sm-6">
            <label class="form-label">Start Date</label>
            <div class="form-group form-float">
               <div class="form-line">
                  <input type="date" class="form-control">
               </div>
            </div>
            </div>
            
            <div class="col-sm-6">
            <label class="form-label">End Date</label>
            <div class="form-group form-float">
               <div class="form-line">
                  <input type="date" class="form-control">
               </div>
            </div>
            </div>
            <h4>Species</h4>
                <hr>
                <center>
                <div class="demo-radio-button" >
                    <input name="species_v" type="radio" class="with-gap radio-col-blue" value="1"  id="dogs_v" checked="" >
                    <label for="dogs">Dogs</label>
                    <input name="species_v" type="radio" class="with-gap radio-col-blue" value="2" id="cats_v" >
                    <label for="cats">Cats</label>
                    <input name="species_v" type="radio" class="with-gap radio-col-blue" value="3" id="all_v" >
                    <label for="all">All</label>
                 </div>
                </center> 
         </div>
         <div class="footer">
               <center>
                  <a class="btn bg-blue waves-effect">APPLY</a>
               </center>
         </div>
         <br>
      </div>
   </div>
   <div class="col-sm-12">
      <div class="card" style="min-height: 570px">
         <div class="body">
            <label class="form-label">EXPORT VACCINATION LIST</label>
            <div class="body">
               <div class="table-responsive">
                  <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                     <thead>
                        <tr>
                           <th>Vaccination ID</th>
                           <th>Vaccine Name</th>
                           <th>Vaccine Manufacturer</th>
                           <th>Vaccine lot number</th>
                           <th>Years of Immunity</th>
                           <th>Vaccine Species</th>
                           <th>Pet Tag Number</th>
                           <th>Pet Name</th>
                           <th>Date & Time of Vaccination</th>
                           <th>Species</th>
                           <th>Breed</th>
                           <th>Color Pattern</th>
                           <th>Sex</th>
                           <th>Birth date</th>
                           <th>Status</th>
                           <th>Employee</th>
                        </tr>
                     </thead>
                     <tbody>
                         <% vac.forEach(function (i) { %>
                         <% function MMMMDDYYYY(i){

                         var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                         var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                         var now = new Date(i);
                         return months[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear();
                        
                        }
                        %>
                        <tr>
                           <td><%=i.int_VaccinationId%></td>
                           <td><%=i.str_VaccineName%></td>
                           <td><%=i.str_Manufacturer%></td>
                           <td><%=i.str_LotNo%></td>
                           <td><%=i.flt_YearsOfImmunity%></td>
                           <% if (i.int_Species == 0) { %>
                            <td>For Dogs</td>
                           <% } else if (i.int_Species == 1) { %>
                            <td>For Cats</td>
                            <% } else if (i.int_Species == 2) { %>
                            <td>For Dogs & Cats</td>
                            <% } %>
                           <td><%=i.str_PetTagNo%></td>
                           <td><%=i.str_PetName%></td>
                           <td><%=MMMMDDYYYY(i.dtm_DateTimeOfVaccination)%></td>
                           <% if (i.int_AnimalSpecies == 0) { %>
                            <td>Dog</td>
                           <% } else if (i.int_AnimalSpecies == 1) { %>
                            <td>Cat</td>
                            <% } %>
                           <td><%=i.str_BreedName%></td>
                           <td><%=i.str_Description%></td>
                           <% if (i.int_Sex == 0) { %>
                            <td>Male</td>
                           <% } else if (i.int_Sex == 1) { %>
                            <td>Female</td>
                            <% } %>
                           <td><%=MMMMDDYYYY(i.dat_Birthday)%></td>
                           <% if (i.int_Status == 0) { %>
                            <td>Pending</td>
                           <% } else if (i.int_Status == 1) { %>
                            <td>Done</td>
                            <% } else if (i.int_Status == 2) { %>
                            <td>Cancelled</td>
                            <% } else if (i.int_Status == 3) { %>
                            <td>Recorded</td>
                            <% } else if (i.int_Status == 4) { %>
                            <td>Evaluated</td>
                            <% } %>
                           <% var employee = i.str_FirstName+" "+i.str_MiddleName+" "+i.str_LastName%>
                           <td><%=employee%></td>
                        </tr>
                        <% }) %>
                     </tbody>
                  </table>
               </div>
            </div>
            <!-- #END# Exportable Table -->
         </div>
      </div>
   </div>
</div>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>