<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("employees_list").className="active";
document.getElementById("utilities_list").className="active";

</script>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <div class="block-header" >
                <h2>
                EMPLOYEES
                </h2>
            </div>
        <div class="card">
          
            <div class="body">
            <button type="button" class="btn btn-primary btn-block waves-effect" data-toggle="tooltip" data-placement="top" title="ADD" onclick="$('#add').modal('toggle');">
                                                                            <i class="material-icons">add</i>ADD NEW EMPLOYEE
                                                                    </button>
                <div class="row clearfix">
                    <div >
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab-nav-right" role="tablist" >
                            <li role="presentation" class="active"><a href="#home_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>LIST</a></li>
                            <li role="presentation" class=""><a href="#profile_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">add</i>ADD</a></li>
                          </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane animated fadeInRight active" id="home_animation_2">
                                    <div class="body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Name</th>
                                                            <th>Privilege</th>
                                                            <th>Status</th>
															<th>Action</th>
                                                        </tr>
                                                    </thead>
                                                 <!--   <tfoot>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Description</th>
                                                            <th>Price</th>
                                                        </tr>
                                                    </tfoot> -->
                                                    <tbody>
                                                      <% re.forEach(function(i){ %>
                                                        <tr>
                                                            <td><%= i.int_EmployeeId %></td>
                                                            <td><%= i.str_FirstName+" "+i.str_MiddleName+" "+i.str_LastName %> </td>

                                                            <%
                                                            var EmployeeType="manager";
                                                            if(i.int_EmployeeType==0){
                                                              EmployeeType="Office Staff";
                                                            }
                                                            else if(i.int_EmployeeType==1){
                                                              EmployeeType="Apprehension Team";
                                                            }
                                                            else if(i.int_EmployeeType==2){
                                                              EmployeeType="Secretary";
                                                            }
                                                            else if(i.int_EmployeeType==3){
                                                              EmployeeType="Management";
                                                            }
                                                            %>
                                                            <td><%= EmployeeType %></td>
                                                            <% if(i.int_Status==1){ %>
                                                            <td>
                                                               <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked ><span class="lever switch-col-blue"></span></label>
                                                                    <span>Active</span>
                                                                </div>
                                                            </td>
                                                            <% } else { %>
                                                              <td>
                                                                 <div class="switch" align="center">
                                                                      <label><input type="checkbox" ><span class="lever switch-col-blue"></span></label>
                                                                      <span>Inactive</span>
                                                                  </div>
                                                              </td>
                                                            <% } %>
                                                            <td>
                                                                <div align="center">
                                                                   <button type="button" class="btn btn-primary waves-effect" onclick="employeeDetails_iterate('<%= JSON.stringify(i) %>');" data-toggle="tooltip" data-placement="top" title="View">
                                                                            <i class="material-icons">remove_red_eye</i>
                                                                    </button>

                                                                    <a data-toggle="modal" data-target="#edit"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">
                                                                            <i class="material-icons">mode_edit</i>
                                                                    </button></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                            </div>
                            <div role="tabpanel" class="tab-pane animated fadeInRight" id="profile_animation_2">
                              
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <%- include('./addEmployees.ejs') -%>
      <div class="modal fade" id="edit" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">EDIT EMPLOYEE DETAILS</h4>
                        </div>
                        <div class="modal-body">
                        <table class="table table-striped">
                                <tr>
                                  <td><strong>ID NUMBER:</strong></td>
                                  <td>#1</td>
                                </tr>
                                <tr>
                                  <td><strong>FIRST NAME</strong></td>
                                  <td><input type="text" class="form-control" name="name" required="" aria-required="true" value='Sean'></td>
                                  </tr>
                                   <tr>
                                  <td><strong>MIDDLE NAME</strong></td>
                                  <td><input type="text" class="form-control" name="name" required="" aria-required="true" value='Critica'></td>
                                  </tr>
                                   <tr>
                                  <td><strong>LAST NAME</strong></td>
                                  <td><input type="text" class="form-control" name="name" required="" aria-required="true" value='Cortez'></td>
                                  </tr>
                                <tr>
                                  <td><strong>EMPLOYEE PRIVILEGE:</strong></td>
                                 <td>     <select class="form-control show-tick" data-live-search="true">
                                        <option>select</option>
                                        <option>Office Staff</option>
                                        <option>Apprehension Team</option>
                                        <option>Secretary</option>
                                        <option>Management</option>
                                        <option></option>
                                    </select>
                                 </tr>
                               <tr>
                                  <td><strong>STATUS</strong></td>
                                  <td> <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked ><span class="lever switch-col-blue"></span></label>
                                                                    <span>Active</span>
                                                                </div></td>
                                  </tr>


                              </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">UPDATE</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="view" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">VIEW EMPLOYEE DETAILS</h4>
                        </div>
                        <div class="table-responsive">
                        <div class="modal-body">
                        <table>
                        <tr>
                             <td><img width="200" id="modal_IdPic" /></td>
                              <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                              <td>
                        <table class="table table-striped">
                                <tr>
                                  <td><strong>ID NUMBER:</strong></td>
                                  <td>#1</td>
                                </tr>
                                <tr>
                                  <td><strong>NAME</strong></td>
                                  <td>Sean Critica Cortez</td>
                                  </tr>

                                <tr>
                                  <td><strong>EMPLOYEE PRIVILEGE:</strong></td>
                                 <td>
                                 Head Management
                                 </tr>
                               <tr>
                                  <td><strong>STATUS</strong></td>
                                  <td> <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked disabled><span class="lever switch-col-blue"></span></label>
                                                                    <span>Active</span>
                                                                </div></td>
                                  </tr>

                              </table>
                              </td>
                              </tr>
                              </table>
                        </div>
                      </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">UPDATE</button>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CLOSE</button>
                        </div>
                    </div>
                </div>
            </div>

<script type="text/javascript">
function employeeDetails_iterate(employeeDetails){
  if(JSON.parse(employeeDetails).str_IdPicturePath==""){
    $('#modal_IdPic').attr('src',"../../images/noIdPicture.jpg");
  }
  else
  {
    $('#modal_IdPic').attr('src',"Employees"+JSON.parse(employeeDetails).str_IdPicturePath);
  }
  $('#view').modal('toggle');
}
</script>



<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
