<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("NewRedemption").className="active";
document.getElementById("redemption_list").className="active";
document.getElementById("transaction_list").className="active";
</script>

  <div class="row clearfix">
                <div >
                <div class="block-header">
                            <h2>REDEMPTION</h2>
                        </div>
                    <div class="card">
                        
                        <div class="body">
                         <div class="col-sm-4">
                          <a type="button" class="btn btn-block btn-lg btn-primary waves-effect" ><i class="material-icons">search</i>UNREGISTERED PET OWNER</a>
                           </div>
                           <div class="col-sm-4">
                          <a type="button" class="btn btn-block btn-lg btn-primary waves-effect" ><i class="material-icons">search</i>NON-MARIKINA CITIZEN</a>
                           </div>
                           <div class="col-sm-4">
                          <a type="button" class="btn btn-block btn-lg btn-primary waves-effect" ><i class="material-icons">apps</i>SEARCH PET BY IMPOUNDING SITE AND CAGE</a>
                           </div>
                           </a><br><br><br>
                           <h4>Registered Pet Owner</h4><hr>
                                <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Registration Pet Owner Name</th>
                                
                                   
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th style="width:20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% po.forEach(function (i){ %>
                                            <tr>
                                                <td>
                                                    <%= i.int_PetOwnerId %>
                                                </td>
                                                <td style="width:200px">
                                                    <%= i.str_PetOwnerLastName+", "+i.str_PetOwnerFirstName+" "+i.str_PetOwnerMiddleName %>
                                                </td>
                                   
                                               
                                                    <td>
                                                        <%= i.str_PhoneNo %>
                                                    </td>
                                                    <td>
                                                        <%= i.str_Email %>
                                                    </td>
                                                    <td>
                                                        <div class="row" align="center">
                                                         <a  onclick="chooselostpet('<%= i.int_PetOwnerId %>');" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="CHOOSE LOST PET">
                                                                            <i class="material-icons">pets</i>PETS
                                                                    </a>
                                                                 
                                                        </div>
                                                    </td>
                                            </tr>
                                            <% });  %>
                                    </tbody>
                                </table>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
       

 
<%- include('./chooselostpet.ejs') -%>
<%- include('./searchlostpet.ejs') -%>


<%- include('../../../templates/CVO-Footer-Location.ejs') -%>