<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("registration_list").className="active";
document.getElementById("transaction_list").className="active";


</script>


    <section >
      <% if(pageStatus==3){ %>
      <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="card">
              <div class="header col-sm-12">

               <div class="col-sm-4" align="center">
                      <img src="/PetOwners<%= currentPetOwner.str_PetOwnerPicturePath %>"  style="border:4px;border-style:solid;border-color:#2196f3" src="#" alt="your image" width="200" height="200" />
               </div>
               <div class="col-sm-8">
                   <h1>Gilbert Critica Cortez<p class="material-icons" style="cursor:hand;" data-toggle="tooltip" data-placement="top" title="ID: #<%= currentPetOwner.int_PetOwnerId %>" >&nbsp;&#9432;</p></h1>
                   <h2><%= currentPetOwner.str_CompleteAddress %>(<%= currentPetOwner.str_BarangayName %>)</h2>
                   <h2><%= currentPetOwner.str_Email %></h2>
                   <h2><%= currentPetOwner.str_Phone %></h2>
                   <i><h5>Stayed in Marikina since <%= currentPetOwner.dat_StartedYearOfStay %></h5></i>

                   <%
                   var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
                   var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                   var now = new Date(currentPetOwner.dat_DateRegistered);
                     %>
                     <i><h5>Registered Pet Owner since <%=  months[now.getMonth()] + ' ' + now.getDate() + ', ' + now.getFullYear() %></h5></i>


            </div>

              </div>
                <div class="body">
                &nbsp;
                </div>
              </div>
          </div>
      </div>
      <% } %>

            <div class="row clearfix">
                <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header  bg-blue">
                            <h2>Pet Registration Form</h2>
                        </div>
                        <div class="body">


                                    <form id="petForm" method="POST" action="/CVO_PetRegistration" enctype="multipart/form-data">
                                      <input type="hidden" value='<%= JSON.stringify(currentPetOwner) %>' name="currentPetOwner">
                                        <% if(pageStatus==3){ %>
                                            <input type="hidden" value='NONE' name="lastPayment">
                                            <% } else { %>
                                      <input type="hidden" value='<%= lastPayment %>' name="lastPayment">
                                      <% } %>
                                      <input type="hidden" value='Pet Registration' name="cameFrom">

                                      <center>  <img src="../../images/animalPicture.jpg" onclick="$('#idpic').trigger('click'); "style="cursor: pointer;border:4px;border-style:solid;border-color:#2196f3" id="blah" src="#" alt="your image" width="200" height="200" /><br><br><br>
                                        <script type="text/javascript">

                                            function readURL(input) {
                                                if (input.files && input.files[0]) {
                                                  var reader = new FileReader();
                                                  reader.onload = function (e) {
                                                    $('#blah').attr('src', e.target.result);
                                                      $('#modal_petPicture').attr('src', e.target.result);
                                                  };
                                                  reader.readAsDataURL(input.files[0]);
                                                }
                                                else{
                                                  $('#blah').attr('src',"../../images/animalPicture.jpg");
                                                }
                                            }
                                        </script>
                                        <div>
                                            <div class="form-line">
                                              <label class="form-label">Pet Picture</label>
                                              <input type="file" name="myimage" id="idpic" onchange="readURL(this);" />
                                            </div>
                                        </div>
                                        <br></center>

                                    <label class="form-label">Pet Name <p class="material-icons" style="cursor:hand;" data-toggle="tooltip" data-placement="top" title="To generate a pet name, just click the 'cached' icon on the right part of the Pet Name Field." >&#9432;</p></label>
                                    <div class="input-group">
                                        <div class="form-line">
                                            <input type="text" class="form-control" name="petName" id="petName" onchange="document.getElementById('modal_petName').value=this.value;">
                                        </div>
                                        <span class="input-group-addon"><i class="material-icons" style="cursor:hand;" data-toggle="tooltip" data-placement="top" title="Generate a Pet Name" onclick="document.getElementById('petName').value= generateAnimalName();document.getElementById('modal_petName').value=document.getElementById('petName').value;">cached</i></span>
                                    </div>


                                <script type="text/javascript" src="PetNameGenerator/petNameGenerator.js"></script>



                                <input type="hidden" value="0" id="sex" name="sex">
                                <label class="form-label">Sex</label>
                                <div class="demo-radio-button" align="center">

                                    <input type="radio" class="with-gap" checked id="male" name="radio_3" onclick="document.getElementById('sex').value='0';document.getElementById('modal_Sex').value='Male';">
                                    <label for="male">Male</label>
                                    <input type="radio" id="female" class="with-gap" name="radio_3"  onclick="document.getElementById('sex').value='1';document.getElementById('modal_Sex').value='Female';">
                                    <label for="female">Female</label>

                                </div><br><br>


                                 <label class="form-label">Breed</label>
                             <select class="form-control show-tick" id="breed" name="breed" data-live-search="true" onchange='document.getElementById("modal_Breed").value=$("#breed option[value="+this.value+"]").text();'>
                                        <option>select</option>
                                        <% br.forEach(function (i) { %>
                                        <option value='<%= i.int_BreedId %>'><%= i.str_BreedName %></option>
                                        <% }); %>
                                    </select><br><br>

                                     <label class="form-label">Color Pattern</label>
                             <select class="form-control show-tick" id="ColorPattern" name="ColorPattern" data-live-search="true" onchange='document.getElementById("modal_colorPattern").value=$("#ColorPattern option[value="+this.value+"]").text();'>
                                        <option>select</option>
                                        <% co.forEach(function (i) { %>
                                        <option value='<%= i.int_ColorPatternId %>'><%= i.str_Description %></option>
                                        <% }); %>
                                    </select><br><br>
                                <% var curryear= (new Date()).getFullYear();
                                   var currmonth=(new Date()).getMonth()+1;
                                   var currdate=(new Date()).getDate();
                                   var yyyymmdd=curryear+"";
                                   if(currmonth<=9){
                                     yyyymmdd=yyyymmdd+"-0"+currmonth;
                                   }
                                   else{
                                     yyyymmdd=yyyymmdd+"-"+currmonth;
                                   }
                                   if(currdate<=9){
                                     yyyymmdd=yyyymmdd+"-0"+currdate;
                                   }
                                   else{
                                     yyyymmdd=yyyymmdd+"-"+currdate;
                                   }

                                %>
                                <label class="form-label">Birthday</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="date" class="form-control" max="<%= yyyymmdd %>" id="birthday" name="birthday"  aria-required="true" onchange="document.getElementById('modal_Birthday').value=this.value;">
                                    </div>
                                </div>

                                <label class="form-label">Pet Tag Number</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="text" class="form-control"  name="pettag"  aria-required="true" onchange="document.getElementById('modal_petTag').value=this.value;">
                                    </div>
                                </div>


                                <br>









                                <center><a data-toggle="modal" data-target="#summary"><button class="btn btn-primary waves-effect" type="button">REGISTER</button></a>&nbsp;
                                <a ><button class="btn btn-primary waves-effect" type="button">CANCEL</button></a></center>
                                 </form>
                        </div>
                    </div>
                </div>
            </div>



            <div class="modal fade" id="summary" tabindex="-1" role="dialog" >
               <div class="modal-dialog modal-lg" role="document">
                   <div class="modal-content">
                       <div class="modal-header bg-blue">
                           <h4 class="modal-title" id="defaultModalLabel">SUMMARY OF PET REGISTRATION</h4>
                       </div>
                       <div class="modal-body">
                       <table>
                       <tr>
                            <td><img id="modal_petPicture" src="../../images/noIdPicture.jpg" style="border:4px;border-style:solid;border-color:#2196f3" width="350" height="350"  alt="User" /></td>
                             <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                             <td><table class="table table-striped">
                               <tr>
                               <td><strong>PET NAME:</strong></td>
                               <td><input type="text" id="modal_petName" class="form-control" disabled></td>
                               </tr>
                               <tr>
                               <td><strong>SEX:</strong></td>
                              <td>  <input type="text" id="modal_Sex" class="form-control" value="Male" disabled></td>
                              </tr>
                               <tr>
                               <td><strong>BREED:</strong></td>
                               <td><input type="text" id="modal_Breed" class="form-control" disabled></td>
                               </tr>
                               <tr>
                               <td><strong>COLOR PATTERN:</strong></td>
                               <td><input type="text" id="modal_colorPattern" class="form-control" disabled> </td>
                               </tr>
                               <tr>
                               <td><strong>BIRTHDAY:</strong></td>
                               <td><input type="text" id="modal_Birthday" class="form-control" disabled></td>
                               </tr>
                               <tr>
                               <td><strong>PET TAG:</strong></td>
                               <td><input type="text" id="modal_petTag" class="form-control" disabled></td>
                               </tr>
                             </table></td>
                            </tr>
                            </table>

                       </div>
                       <div class="modal-footer">
                           <button type="button" class="btn btn-link waves-effect" data-dismiss="modal" onclick="$('#petForm').submit();">PROCEED</button>
                           <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">EDIT</button>
                       </div>
                   </div>
               </div>
            </div>

    </section>

    <% if(pageStatus==1){ %>
    <form method="POST" action="/CVO_VaccinationConducting" id="vaccinationConducting">
    <input type="hidden" value="<%= currentPet %>" name="currentPetId" />
    <input type="hidden" value="<%= lastPayment %>" name="lastPaymentId" />
    </form>
    <form method="POST" action="/CVO_VaccinationScheduling" id="vaccinationScheduling">
    <input type="hidden" value="<%= currentPet %>" name="currentPetId" />
    </form>
    <form method="POST" action="/CVO_VaccinationRecording" id="vaccinationRecording">
    <input type="hidden" value="<%= currentPet %>" name="currentPetId" />
    </form>
    <script>

              swal({
                title: "Pet Registered!",
                text: "Pet's Profile is successfully registered",
                icon: "success",
                button: true,
                closeOnClickOutside: false,
              }).then((willDelete) => {
                        if (willDelete) {
                          swal({
                            title: "What type of Vaccination?",
                            icon: "/images/alert_question.png",
                            buttons: {
                              Conduct: "CONDUCT",
                              Schedule: "SCHEDULE",
                              Record: "RECORD",
                            },
                            closeOnClickOutside: false,
                          })
                          .then((decision) => {
                            if (decision==="Conduct") {
                              $('#vaccinationConducting').submit();
                            }
                            else if(decision==="Schedule"){
                              $('#vaccinationScheduling').submit();
                            }
                            else if(decision==="Record"){
                              $('#vaccinationRecording').submit();
                            }
                          })
                          }
              });

    </script>
    <% } %>
 <%- include('../../../templates/CVO-Footer-Location.ejs') -%>
