<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("registration_list").className="active";
document.getElementById("transaction_list").className="active";


</script>


    <section >

            <div class="row clearfix">
                <div >
                    <div class="card">
                        <div class="header  bg-blue">
                            <h2>REGISTRATION</h2>
                        </div>
                        <div class="body">
                           <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" data-toggle="modal" data-target="#requirements" ><i class="material-icons">add</i>PET OWNER REGISTRATION</button><br><br>
                             <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Name</th>
                                                            <th>Date Registered</th>
                                                            <th>Barangay</th>
                                                            <th>Phone Number</th>
                                                            <th>Email</th>

															                               <th style="width:20%">Action</th>
                                                        </tr>
                                                    </thead>
                                                 <!--   <tfoot>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Description</th>
                                                            <th>Price</th>
                                                        </tr>
                                                    </tfoot> -->
                                                    <tbody>
                                                      <% po.forEach(function (i){ %>
                                                        <tr>
                                                            <td><%= i.int_PetOwnerId %></td>
                                                            <td><%= i.str_PetOwnerLastName+", "+i.str_PetOwnerFirstName+" "+i.str_PetOwnerMiddleName %></td>
                                                            <%
                                                            var d= (i.dat_DateRegistered+"").split(' ');

                                                            %>
                                                            <td><%= d[1]+" "+d[2]+", "+d[3] %></td>
                              															<td><%= i.str_BarangayName %></td>
                              															<td><%= i.str_PhoneNo %></td>
                              															<td><%= i.str_Email %></td>

                                                            <td>
                                                                <div class="row"align="center">
                                                                  <form action="/CVO_PetRegistration" method="POST" id="petregistration<%= i.int_PetOwnerId %>">
                                                                    <input type="hidden" value='<%= JSON.stringify(i) %>' name="currentPetOwner" id="currentPetOwner">
                                                                    <input type="hidden" value='Registration' name="cameFrom">
                                                                  </form>
                                                                  <form method="POST" id="petownerprofile<%= i.int_PetOwnerId %>" action="/CVO_PetOwnerProfile"><input type="hidden" name="currentpetowner" value= '<%= JSON.stringify(i) %>'> </form>

                                                                    <a onclick="document.getElementById('petownerprofile<%= i.int_PetOwnerId %>').submit();"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="View">
                                                                            <i class="material-icons">remove_red_eye</i>
                                                                    </button></a>

                                                                    <a onclick="document.getElementById('petregistration<%= i.int_PetOwnerId %>').submit();"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Pet Registration">
                                                                            <i class="material-icons">add</i>
                                                                    </button></a>
                                                                </div>
                                                            </td>
                                                        </tr>

                                             <% }); %>

                                                      </tbody>
                                                  </table>
                                            </div>

                        </div>
                    </div>
                </div>
            </div>


    </section>

     <div class="modal fade" id="requirements" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">Requirements</h4>
                        </div>
                        <div class="modal-body">
                              <h4>Does the Registrant brings the following?</h4>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">Requirement#1</label>
                                        </span>
                                         <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">Requirement#2</label>
                                        </span>
                                         <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">Requirement#3</label>
                                        </span>
                                        <label class="form-label"></label>
                                    </div>
                                     <h5>After the Owner Registration Process, will the Pet Owner register a Pet?</h5>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">YES</label>
                                        </span>
                                         <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">NO</label>
                                        </span>

                                        <label class="form-label"></label>
                                    </div>
                                      <h5>Does the Pet to be registered have undergo Vaccination?</h5>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">YES</label>
                                        </span>
                                         <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">NO</label>
                                        </span>

                                        <label class="form-label"></label>
                                    </div>
                                     <h5>Does the Pet Owner brings the Certificate of Vaccination?</h5>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">YES</label>
                                        </span>
                                         <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">NO</label>
                                        </span>

                                        <label class="form-label"></label>
                                    </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/CVO_OwnerRegistration"><button type="button" class="btn btn-link waves-effect">PROCEED</button></a>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>



             <div class="modal fade" id="requirementsPetReg" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-blue">
                            <h4 class="modal-title" id="defaultModalLabel">Pet Registration Requirements</h4>
                        </div>
                        <div class="modal-body">
                              <h4>Does the Pet Owner brings the following?</h4>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">Requirement#1</label>
                                        </span>
                                         <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">Requirement#2</label>
                                        </span>
                                         <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">Requirement#3</label>
                                        </span>
                                        <label class="form-label"></label>
                                    </div>
                                     <h5>Does the Pet to be registered have undergo Vaccination?</h5>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">YES</label>
                                        </span>
                                         <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">NO</label>
                                        </span>

                                        <label class="form-label"></label>
                                    </div>
                                     <h5>Does the Pet Owner brings the Certificate of Vaccination?</h5>
                                    <div class="input-group input-group-lg">
                                        <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">YES</label>
                                        </span>
                                         <span class="input-group-addon">
                                            <input type="checkbox" class="filled-in" id="ig_checkbox">
                                            <label for="ig_checkbox">NO</label>
                                        </span>

                                        <label class="form-label"></label>
                                    </div>
                        </div>
                        <div class="modal-footer">
                            <a href="/CVO_PetRegistration"><button type="button" class="btn btn-link waves-effect">PROCEED</button></a>
                            <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </div>
                    </div>
                </div>
            </div>





 <%- include('../../../templates/CVO-Footer-Location.ejs') -%>
