<%- include('../../../templates/CVO-Head-Location.ejs') -%>
    <script>

        document.getElementById("transaction_list").className = "active";
        document.getElementById('reg_list').className="active";
    </script>
    <div class="row clearfix">
  
        <div class="col-sm-12">
        <div class="block-header">
                REGISTRATION
        </div>
            <div class="card">

                <div class="body">
                  
                            <button type="button" class="btn btn-block btn-lg btn-primary waves-effect" data-toggle="modal" data-target="#por_requirements" ><i class="material-icons">add</i>PET OWNER REGISTRATION</button><br><br>
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Registered Pet Owner Name</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th style="width:20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% po.forEach(function (i){ %>
                                            <tr>
                                                <td>
                                                    <%= i.int_PetOwnerId %>
                                                </td>
                                                <td style="width:200px">
                                                    <%= i.str_PetOwnerLastName+", "+i.str_PetOwnerFirstName+" "+i.str_PetOwnerMiddleName %>
                                                </td>
                                   
                                               
                                                    <td>
                                                        <%= i.str_PhoneNo %>
                                                    </td>
                                                    <td>
                                                        <%= i.str_Email %>
                                                    </td>
                                                    <td>
                                                        <div class="row" align="center">
                                                            
                                                            <form method="POST" id="petownerprofile<%= i.int_PetOwnerId %>" action="/CVO_PetOwnerProfile"><input type="hidden" name="currentpetowner" value='<%= JSON.stringify(i) %>'> </form>
                                                            <a onclick="prreq('<%= JSON.stringify(i) %>');"><button type="button" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Pet Registration">
                                                                    <i class="material-icons">pets</i>REGISTER PET
                                                                </button></a>
                                                        </div>
                                                    </td>
                                            </tr>
                                            <% });  %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                 
                    </div>
                </div>
            </div>
  





    <div class="modal fade" id="por_requirements" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header bg-blue">
                <center>
                        <h4>PET OWNER REGISTRATION REQUIREMENTS CHECKLIST</h4>
                        
                    </center>
               </div>
                <div class="modal-body">
                   
                   <br>
                    <div class="input-group input-group-lg">
                            <table class="table table-striped table-bordered">
                            <tr>
                            <div style="float:right">
                            <a class="btn btn-link waves-effect btn-sm" onclick="POR_checkAllRequirements()"><i class="material-icons">check</i> CHECK ALL</a>
                        <a class="btn btn-link waves-effect btn-sm" onclick="POR_uncheckAllRequirements()"><i class="material-icons">clear</i> UNCHECK ALL</a>
                        </div>
                            </tr>
                            <tr>
                            <th></th>
                            <th>Description</th>
                            <th>Purpose</th>
                            </tr>
                        <% porequ.forEach(function(i,ctr){ %>
<tr>
                            <td width="5px"><div class="switch" align="center">
                                                                    <label><input type="checkbox" id="po_requirements_<%=ctr %>"><span class="lever switch-col-blue"></span></td>
                           <td> <label for="po_requirements_<%=ctr %>"><%= i.str_Description %></label></td>
                            <td><%= i.str_Purpose %></td>
                            </tr>                         
                               <% }); %>
                            </table>

                    </div>
                    <div class="modal-footer">
                        <center>
                        <button type="button" class="btn btn-primary btn-lg waves-effect" onclick="POR_Requirements();">PROCEED</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
</div>
        
        
        <script>
            function POR_Requirements() {
                var toSubmit = true;
                for (var i = <%= porequ.length %> - 1; i >= 0; i--) {
                    if (document.getElementById('po_requirements_' + i).checked == false) {
                        toSubmit = false;
                    }
                }
                if (toSubmit == false) {
                    swal("Warning", "Requirements should be completed", "warning")
                } else {
                    window.location.href = "/CVO_OwnerRegistration";
                }
            }

            function POR_checkAllRequirements() {

                for (var i = <%= porequ.length %> - 1; i >= 0; i--) {
                    document.getElementById('po_requirements_' + i).checked = "checked";

                }
            }

            function POR_uncheckAllRequirements() {

                for (var i = <%= porequ.length %> - 1; i >= 0; i--) {
                    document.getElementById('po_requirements_' + i).checked = "";


                }

            }
        </script>
           <form action="/CVO_PetRegistration" method="POST" id="petregistration">
                                                                <input type="hidden" value='' name="currentPetOwner" id="currentPetOwner">
                                                                <input type="hidden" value='Registration' name="cameFrom">
                                                            </form>
<div class="modal fade" id="pr_requirements" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
               <div class="modal-header bg-blue">
                <center>
                        <h4>PET REGISTRATION REQUIREMENTS CHECKLIST</h4>
                        
                    </center>
               </div>
                <div class="modal-body">
                   
                   <br>
                    <div class="input-group input-group-lg">
                            <table class="table table-striped table-bordered">
                            <tr>
                            <div style="float:right">
                            <a class="btn btn-link waves-effect btn-sm" onclick="PR_checkAllRequirements()"><i class="material-icons">check</i> CHECK ALL</a>
                        <a class="btn btn-link waves-effect btn-sm" onclick="PR_uncheckAllRequirements()"><i class="material-icons">clear</i> UNCHECK ALL</a>
                        </div>
                            </tr>
                            <tr>
                            <th></th>
                            <th>Description</th>
                            <th>Purpose</th>
                            </tr>
                        <% prequ.forEach(function(i,ctr){ %>
<tr>
                            <td width="5px"><div class="switch" align="center">
                                                                    <label><input type="checkbox" id="pr_requirements_<%=ctr %>"><span class="lever switch-col-blue"></span></label></td>
                           <td> <label for="pr_requirements_<%=ctr %>"><%= i.str_Description %></label></td>
                            <td><%= i.str_Purpose %></td>
                            </tr>                         
                               <% }); %>
                            </table>

                    </div>
                    <div class="modal-footer">
                        <center>
                        <button type="button" class="btn btn-primary btn-lg waves-effect" onclick="PR_Requirements();">PROCEED</button>
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">CANCEL</button>
                        </center>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <script>
            function prreq(x){
          
                document.getElementById('currentPetOwner').value=x;
                $('#pr_requirements').modal('toggle');
            }
            function PR_Requirements() {
                var toSubmit = true;
                for (var i = <%= prequ.length %> - 1; i >= 0; i--) {
                    if (document.getElementById('pr_requirements_' + i).checked == false) {
                        toSubmit = false;
                    }
                }
                if (toSubmit == false) {
                    swal("Warning", "Requirements should be completed", "warning")
                } else {
                   document.getElementById('petregistration').submit();
                }
            }

            function PR_checkAllRequirements() {

                for (var i = <%= prequ.length %> - 1; i >= 0; i--) {
                    document.getElementById('pr_requirements_' + i).checked = "checked";

                }
            }

            function PR_uncheckAllRequirements() {

                for (var i = <%= prequ.length %> - 1; i >= 0; i--) {
                    document.getElementById('pr_requirements_' + i).checked = "";


                }

            }
        </script>


        <%- include('../../../templates/CVO-Footer-Location.ejs') -%>