<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("nature_list").className="active";
document.getElementById("maintenance_list").className="active";

</script>
        <div class="card">
            <div class="header bg-blue" >
                <h2>
                NATURE OF COLLECTION
                </h2>

            </div>
            <div class="body">
              <div class="form-group form-float" >
                  <form id="form_validation" action="/CVO_NatureOfCollection" method="POST" >

                                  <label class="form-label">Pet Owner Registration Fee</label>
                                  <div class="form-group form-float">
                                      <div class="form-line">
                                          <input type="text" class="form-control" name="owner" required="" aria-required="true" value=<%= re[0].dec_OwnerRegistrationFee %>>
                                      </div>
                                  </div>
                                  <label class="form-label">Pet Registration Fee</label>
                                  <div class="form-group form-float">
                                      <div class="form-line">
                                          <input type="text" class="form-control" name="pet" required="" aria-required="true" value=<%= re[0].dec_PetRegistrationFee %>>
                                      </div>
                                  </div>
                                  <label class="form-label">Adoption Fee</label>
                                  <div class="form-group form-float">
                                      <div class="form-line">
                                          <input type="text" class="form-control" name="adoption" required="" aria-required="true" value=<%= re[0].dec_AdoptionFee %>>
                                      </div>
                                  </div>
                                  <label class="form-label">Redemption First Penalty Fee</label>
                                  <div class="form-group form-float">
                                      <div class="form-line">
                                          <input type="text" class="form-control" name="redemption1" required="" aria-required="true" value=<%= re[0].dec_RedemptionFirstPenalty %>>
                                      </div>
                                  </div>
                                  <label class="form-label">Redemption Second Penalty Fee</label>
                                  <div class="form-group form-float">
                                      <div class="form-line">
                                          <input type="text" class="form-control" name="redemption2" required="" aria-required="true" value=<%= re[0].dec_RedemptionSecondPenalty %>>
                                      </div>
                                  </div>
                                  <label class="form-label">Redemption Third Penalty Fee</label>
                                  <div class="form-group form-float">
                                      <div class="form-line">
                                          <input type="text" class="form-control" name="redemption3" required="" aria-required="true" value=<%= re[0].dec_RedemptionThirdPenalty %>>
                                      </div>
                                  </div>
                                  <br>
                                  <center><button class="btn btn-primary waves-effect" type="submit">UPDATE</button></center>
                                </form>
                </div>
            </div>
        </div>
    </div>



<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
