<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>

document.getElementById("impoundingsite_list").className="active";
document.getElementById("maintenance_list").className="active";

</script>


<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header bg-blue" >
                <h2>
                IMPOUNDING SITE
                </h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div >
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tab-nav-right" role="tablist" >
                            <li role="presentation" class="active"><a href="#home_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>LIST</a></li>
                            <li role="presentation" class=""><a href="#profile_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">add</i>ADD</a></li>
                          </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane animated fadeInRight active" id="home_animation_2">
                                    <div class="body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                                    <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Barangay Located</th>
                                                            <th>Number Of Cages</th>
                                                            <th>Status</th>
                                                            <th>QR Code</th>
															                              <th>Action</th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                      <% re.forEach(function(i){ %>
                                                        <tr>
                                                            <td><%= i.int_ImpoundingSiteId %></td>
                                                            <td><%= i.str_BarangayName %></td>
															                              <td><%= i.numberofcages %></td>
															                              <td>
                                                              <% if(i.int_Status==1){ %>
                                                               <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked ><span class="lever switch-col-blue"></span></label>
                                                                    <span>Active</span>
                                                                </div>
                                                                <% }else{ %>
                                                                  <div class="switch" align="center">
                                                                       <label><input type="checkbox" ><span class="lever switch-col-blue"></span></label>
                                                                       <span>Inactive</span>
                                                                   </div>
                                                                   <% } %>
                                                            </td>
                                                            <td>
                                                              <div align="center">
                                                                  <a data-target="#modal_qr" data-toggle="modal"  ><button type="button" class="qr btn btn-primary waves-effect"  data-toggle="tooltip" data-placement="top" title="QR Code" data-qr1="<%= i.int_ImpoundingSiteId %>" onclick="generateqr(<%= i.int_ImpoundingSiteId %>);">
                                                                        QR CODE
                                                                  </button></a>
                                                              </div>
                                                            </td>
                                                            <td>
                                                                <div align="center">
                                                                    <form method="POST" action="/CVO_ImpoundingCage">
                                                                      <input type="hidden" name="impoundingsite" value="<%= i.int_ImpoundingSiteId %>">
                                                                        <button type="submit" class="btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Cages">
                                                                                <i class="material-icons">apps</i>
                                                                        </button>
                                                                    </form>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                      <% }); %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                            </div>
                            <div role="tabpanel" class="tab-pane animated fadeInRight" id="profile_animation_2">
                               <%- include('./addImpoundingSite.ejs') -%>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<%- include('./modal_qrcode.ejs') -%>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
<script>
$(function (){
    $('.qr').on('click', function (){
        $('#modal_qr1').text("Impounding Site ID: "+$(this).data('qr1'))

    });
});
</script>
