<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
   document.getElementById("animal_list").className="active";
   document.getElementById("animalbreed_list").className="active";
   document.getElementById("maintenance_list").className="active";
</script>
<div class="col-sm-12">
   <div class="block-header">
      <h2>ANIMAL BREED</h2>
   </div>
   <div class="card">
      <div class="body">
         <div align="center">
            <a data-toggle="modal" data-target="#add">
            <button type="button" class="edit btn btn-primary btn-block waves-effect" data-toggle="tooltip" data-placement="top" title="Add">
            <i class="material-icons">add</i>ADD NEW ANIMAL BREED
            </button></a>
         </div>
         <br>
         <div class="row clearfix">
            <div >
               <!-- Nav tabs -->
               <ul class="nav nav-tabs tab-nav-right" role="tablist" >
                  <li role="presentation" class="active"><a href="#home_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>ALL</a></li>
                  <li role="presentation" class=""><a href="#profile_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>DOGS</a></li>
                  <li role="presentation" class=""><a href="#profile_animation_3" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>CATS</a></li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane animated pulse active" id="home_animation_2">
                     <div class="body">
                        <div class="table-responsive">
                           <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Breed Name</th>
                                    <th>Animal Species</th>
                                     <th>Active?</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% breed.forEach(function (i) { %>
                                 <tr>
                                    <td><%= i.int_BreedId%></td>
                                    <td><%= i.str_BreedName%></td>

                                    <% if (i.int_AnimalSpecies == 0) { %>
                                    <td>Dog</td>
                                    <% } else {  %>
                                    <td>Cat</td>
                                    <% } %>
                                   <td>
 <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked ><span class="lever switch-col-blue"></span></label>
                                                                    <span>Yes</span>
                                                                </div></td>
                                    <td>
                                       <div align="center">
                                          <a data-toggle="modal" data-target="#edit" onclick="modal_iteration('<%= JSON.stringify(i) %>');">
                                          <button type="button" class="edit btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">
                                          <i class="material-icons">mode_edit</i>
                                          </button></a>
                                          <button type="button" class="btn btn-grey  waves-effect" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                            <i class="material-icons">delete</i></button>

                                       </div>
                                    </td>
                                 </tr>
                                 <% }); %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated pulse" id="profile_animation_2">
                     <div class="body">
                        <div class="table-responsive">
                           <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Dog Breed Name</th>
                                    <th>Active?</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% breed.forEach(function (i) { %>
                                 <% if (i.int_AnimalSpecies == 0) { %>
                                 <tr>
                                    <td><%= i.int_BreedId%></td>
                                    <td><%= i.str_BreedName%></td>
                                    <td>
 <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked ><span class="lever switch-col-blue"></span></label>
                                                                    <span>Yes</span>
                                                                </div></td>
                                    <td>
                                       <div align="center">
                                          <a data-toggle="modal" data-target="#edit" onclick="modal_iteration('<%= JSON.stringify(i) %>');">
                                          <button type="button" class="edit btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">
                                          <i class="material-icons">mode_edit</i>
                                          </button></a>
                                           <button type="button" class="btn btn-grey  waves-effect" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                            <i class="material-icons">delete</i></button>
                                       </div>
                                    </td>
                                 </tr>
                                 <% } %>
                                 <% }); %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated pulse" id="profile_animation_3">
                     <div class="body">
                        <div class="table-responsive">
                           <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Cat Breed Name</th>
                                    <th>Active?</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% breed.forEach(function (i) { %>
                                 <% if (i.int_AnimalSpecies == 1) { %>
                                 <tr>
                                    <td><%= i.int_BreedId%></td>
                                    <td><%= i.str_BreedName%></td>
                                    <td>
 <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked ><span class="lever switch-col-blue"></span></label>
                                                                    <span>Yes</span>
                                                                </div></td>
                                    <td>
                                       <div align="center">
                                          <a data-toggle="modal" data-target="#edit" onclick="modal_iteration('<%= JSON.stringify(i) %>');">
                                          <button type="button" class="edit btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">
                                          <i class="material-icons">mode_edit</i>
                                          </button></a>
                                           <button type="button" class="btn btn-grey  waves-effect" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                            <i class="material-icons">delete</i></button>
                                       </div>
                                    </td>
                                 </tr>
                                 <% } %>
                                 <% }); %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<%- include('./addAnimalBreed.ejs') -%>
<%- include('./updateAnimalBreed.ejs') -%>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
