<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
   document.getElementById("animal_list").className="active";
   document.getElementById("animalbreed_list").className="active";
   document.getElementById("maintenance_list").className="active";
</script>
<div class="col-sm-12">
   <div class="block-header">
      <h2>ANIMAL BREED</h2>
   </div>
   <div class="card">
      <div class="body">
         <div align="center">
            <a data-toggle="modal" data-target="#add">
            <button type="button" class="edit btn btn-primary btn-block waves-effect" data-toggle="tooltip" data-placement="top" title="Add">
            <i class="material-icons">add</i>ADD NEW ANIMAL BREED
            </button></a>
         </div>
         <br>
         <div class="row clearfix">
            <div class="body">
                              <div class="table-responsive">
                           <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Breed Name</th>
                                    <th>Animal Species</th>
                                     <th>Active?</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% breed.forEach(function (i) { %>
                                 <tr id="<%= i.int_BreedId%>">
                                    <td><%= i.int_BreedId%></td>
                                    <td><%= i.str_BreedName%></td>

                                    <% if (i.int_AnimalSpecies == 0) { %>
                                    <td>Dog</td>
                                    <% } else {  %>
                                    <td>Cat</td>
                                    <% } %>
                                   <td>
                                   <% if (i.int_Status == 1) { %>
                                                        <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked  onclick="statUpdate('<%= i.int_BreedId%>','breed');" ><span class="lever switch-col-blue"></span></label>
                                                                    <small id="lever_<%= i.int_BreedId%>">YES</small>
                                                                </div>
                                                                <% } else { %>
                                                                <div class="switch" align="center">
                                                                    <label><input type="checkbox"  onclick="statUpdate('<%= i.int_BreedId%>','breed');" ><span class="lever switch-col-blue"></span></label>
                                                                    <small id="lever_<%= i.int_BreedId%>">NO</small>
                                                                </div>
                                                                <% } %>


                                                                </td>
                                    <td>
                                       <div align="center">
                                          <a data-toggle="modal" data-target="#edit" onclick="modal_iteration('<%= JSON.stringify(i) %>');">
                                          <button type="button" class="edit btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">
                                          <i class="material-icons">mode_edit</i>
                                          </button></a>
                                       
                                          <button type="button" onclick="deleteBreed('<%=i.int_BreedId %>')" class="btn btn-grey  waves-effect" data-toggle="tooltip" data-placement="top" title="Delete" <% usedBreed.forEach(function(x){  if(i.int_BreedId==x.int_BreedId){%> disabled <% }})  %>>
                                                                            <i class="material-icons">delete</i></button>
                                         

                                       </div>
                                    </td>
                                 </tr>
                                 <% }); %>
                              </tbody>
                           </table>
                        </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
function statUpdate(x){


      if(document.getElementById("lever_"+x).innerHTML=="YES"){
        document.getElementById("lever_"+x).innerHTML="NO";
        $.post("/CVO_AnimalBreed/updateStatus",{id:x, status:0},function(data){  })
      }
      else{
        document.getElementById("lever_"+x).innerHTML="YES";
        $.post("/CVO_AnimalBreed/updateStatus",{id:x, status:1},function(data){  })
      }
       
      }
function deleteBreed(x){
   $.post("/CVO_AnimalBreed/deleteBreed",{id:x},function(data){ 
    
  })
  $('#'+x).remove();
 
}

</script>

<%- include('./addAnimalBreed.ejs') -%>
<%- include('./updateAnimalBreed.ejs') -%>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
