<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("adoption_list").className="active";
document.getElementById("NewApplication").className="active";
document.getElementById("transaction_list").className="active";

</script>

  <div class="row clearfix">

          <div class="col-sm-3">
             <div class="card bg-white" style="min-height: 600px">
             <div class="body">
                <center><h3>HOME VISIT FOR ADOPTION APPLICATION</h3></center><hr><br><br><br>
                <a class="btn  btn-block bg-blue" id="wz1"><i class="material-icons">remove_red_eye</i><h6> VIEW ADOPTION APPLICATION FORM</h6></a>
                <a class="btn  btn-block bg-blue" id="wz1"><i class="material-icons">remove_red_eye</i><h6> VIEW INTERVIEW DETAILS</h6></a>
                
               
             </div>
             </div>

          </div>
                <div class="col-sm-9">
                
                    <div class="card" style="min-height: 600px">
                        
                        <div class="body">
                  <h4>HOME VISIT DETAILS RECORDING FORM</h4>
                  <hr>
                  <form action='/CVO_Adoption/HomeVisit' method="POST" id="homeVisitForm">
                   <input type="hidden" name="adopterId" value="<%= adopterDetails.AdopterId %>">
            <input type="hidden" name="adopterType" value="<%= adopterDetails.AdopterType %>">
             <input type="hidden" name="transactionId" value="<%= adopterDetails.TransactionId %>">
                  <label class="form-label">Date and Time of Home Visit </label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <input type="datetime-local" class="form-control" name="dtmHomeVisit" >
                                    </div>
                                </div> 
                                       <label class="form-label">Is the House of Adopter is capable of having pets?</label>
                                <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                  <input name="capable" type="radio" value=0 id="forYes" checked="">
                  <label for="forYes">Yes</label>
                  </span>
                  <span class="input-group-addon">
                  <input name="capable" type="radio" value=1 id="forNo" >
                  <label for="forNo">No</label>
                  </span>
                  
               </div>

                                 <label class="form-label">Home Visit Remarks</label>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <textarea rows="10" class="form-control" name="remarks" autofocus=""></textarea>
                                    </div>
                                </div> 
                                </form>
                                     <br>
                     <div class="col-sm-9"></div>
                     <div class="col-sm-3">
                     
                             <a type="button" class="btn btn-primary btn-lg waves-effect" onclick="proceed();">PROCEED</a>
                                &nbsp;<a href="CVO_Adoption" type="button" class="btn btn-link waves-effect">CANCEL</a>
                      </div>
                </div>
            </div>
            </div>
            </div>

       

<script>

function proceed(){
         

   swal({
                 title: "SUBMIT HOME VISITATION FORM?",
                 icon: "/images/alert_question.png",
                 buttons: {
                   yes: "YES",
                 
                   cancel: "CANCEL",

  
                 },
              closeOnClickOutside: false,
                  width: '800px',
               })
               .then((decision) => {
                 if (decision==="yes") {
                      document.getElementById('homeVisitForm').submit();
                 }
               
                 else if(decision==="cancel"){
                swal.close()
                 }
               
               })
               }

           
              

</script>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>