<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
document.getElementById("adoption_list").className="active";
document.getElementById("NewApplication").className="active";
document.getElementById("transaction_list").className="active";
</script>

  <div class="row clearfix">
        <div class="block-header">
                <h2>NEW APPLICATION</h2>
         </div>
         <div class="card" style="min-height: 570px; ">
             <div class="body">
             <div class="col-sm-6">
                <a class="btn btn-block btn-lg btn-primary waves-effect" href="/CVO_Adoption/PetFinder"><i class="material-icons">add</i>NEW ADOPTION APPLICATION (NON-CITIZEN)</a>
                </div>
                <div class="col-sm-6">
                <a class="btn btn-block btn-lg btn-primary waves-effect" href="/CVO_Adoption/PetFinder"><i class="material-icons">add</i>NEW ADOPTION APPLICATION (CITIZEN)</a>
                </div>
                <br><br>
                   <ul class="nav nav-tabs" role="tablist">
                     <li role="presentation" class="active">
                            <a href="#profile_with_icon_title" data-toggle="tab">
                                <i class="material-icons">face</i> ADOPTER(NON-CITIZEN)
                            </a>
                        </li>
                        <li role="presentation" >
                            <a href="#home_with_icon_title" data-toggle="tab">
                                <i class="material-icons">home</i> REGISTERED PET OWNERS
                            </a>
                        </li>
                      

                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content" >
                     <div role="tabpanel" class="tab-pane fade in active" id="profile_with_icon_title">
                      <div  >
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" > 
                                    <thead>
                                        <tr>
                                          
                                            <th>Name</th>
                                            <th>Date Registered</th>
                                            <th>Barangay</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th style="width:20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% [].forEach(function (i){ %>
                                            <tr>
                                            
                                                <td>
                                                    <%= i.str_PetOwnerLastName+", "+i.str_PetOwnerFirstName+" "+i.str_PetOwnerMiddleName %>
                                                </td>
                                                <%
                              var d= (i.dat_DateRegistered+"").split(' '); %>
                                                    <td>
                                                        <%= d[1]+" "+d[2]+", "+d[3] %>
                                                    </td>
                                                    <td>
                                                        <%= i.str_BarangayName %>
                                                    </td>
                                                    <td>
                                                        <%= i.str_PhoneNo %>
                                                    </td>
                                                    <td>
                                                        <%= i.str_Email %>
                                                    </td>
                                                    <td>
                                                       <a class="btn btn-primary btn-s" href=""><i class="material-icons">note_add</i></a>
                                                    </td>
                                            </tr>
                                            <% });  %>
                                    </tbody>
                                </table>
                            </div>
                     </div>
                        <div role="tabpanel" class="tab-pane fade in" id="home_with_icon_title" >
                         
                            <div  >
                                <table class="table table-bordered table-striped table-hover js-basic-example dataTable" > 
                                    <thead>
                                        <tr>
                                          
                                            <th>Name</th>
                                            <th>Date Registered</th>
                                            <th>Barangay</th>
                                            <th>Phone Number</th>
                                            <th>Email</th>
                                            <th style="width:20%">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% po.forEach(function (i){ %>
                                            <tr>
                                            
                                                <td>
                                                    <%= i.str_PetOwnerLastName+", "+i.str_PetOwnerFirstName+" "+i.str_PetOwnerMiddleName %>
                                                </td>
                                                <%
                              var d= (i.dat_DateRegistered+"").split(' '); %>
                                                    <td>
                                                        <%= d[1]+" "+d[2]+", "+d[3] %>
                                                    </td>
                                                    <td>
                                                        <%= i.str_BarangayName %>
                                                    </td>
                                                    <td>
                                                        <%= i.str_PhoneNo %>
                                                    </td>
                                                    <td>
                                                        <%= i.str_Email %>
                                                    </td>
                                                    <td>
                                                       <a class="btn btn-primary btn-small" href=""><i class="material-icons">note_add</i></a>
                                                    </td>
                                            </tr>
                                            <% });  %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                   
                        
                    </div>      
              </div>
          </div>
</div>
<script>
    function newAdoption(){

    }
</script>        
             


<%- include('../../../templates/CVO-Footer-Location.ejs') -%>