<div class="col-sm-12">
    <div class="col-sm-12">
        <h5>Add Requirement<small> (You can select multiple)</small></h5>
        <div class="col-sm-8">
        <div class="form-group form-float">
            <div class="form-line">
            <select class="form-control show-tick" id="sel_ado" multiple data-show-subtext="true" data-live-search="true">
                <% 
                req.forEach(function(i){  
                    var check=false;
                    ado.forEach(function(x){
                        if(i.int_RequirementsId == x.int_RequirementsId){
                            check=true;
                        } }); if(check) { %>
                    <option data-subtext="<%= i.str_Purpose %>" disabled value=<%=i.int_RequirementsId %>  ><%= i.str_Description %></option>
                    <% } else { %>
                    <option data-subtext="<%= i.str_Purpose %>" value=<%=i.int_RequirementsId %>  ><%= i.str_Description %></option>
                    <% }
                
                 }); %>
            </select>
            </div>
            </div>
        </div>
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary btn-block waves-effect" onclick="add(JSON.stringify($('#sel_ado').val()),3)" >
            <i class="material-icons">add</i>ADD
            </button>
        </div>
    </div>
    <br>
</div>
<div class="col-sm-12">
    <h5>Current Requirements for Adoption</h5>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
            <thead>
                <tr>
                    <th>Requirement</th>
                    <th>Purpose</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% ado.forEach(function (i) { %>
                <tr>
                    <td><%= i.str_Description %></td>
                    <td><%= i.str_Purpose %></td>
                    <td>
                        <div align="center">
                            <button type="button" class="edit btn  waves-effect" data-toggle="tooltip" data-placement="top" title="Remove" onclick="remove('<%= i.int_RequirementsId %>',3)" >
                            <i class="material-icons">delete</i>
                            </button>
                        </div>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</div>

