<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
   document.getElementById("transrequirements_list").className="active";
   document.getElementById("maintenance_list").className="active";
</script>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="block-header" >
      <h2>
         TRANSACTION REQUIREMENTS
      </h2>
   </div>
   <div class="card">
      <div class="body">
         <div class="row clearfix">
            <div >
               <!-- Nav tabs -->
               <ul class="nav nav-tabs tab-nav-right" role="tablist" >
                  <li role="presentation" class="active"><a href="#home_animation_3" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>PET OWNER REGISTRATION</a></li>
                  <li role="presentation" class=""><a href="#home_animation_4" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>PET REGISTRATION</a></li>
                  <li role="presentation" class=""><a href="#home_animation_5" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>VACCINATION</a></li>
                  <li role="presentation" class=""><a href="#home_animation_6" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>ADOPTION</a></li>
                  <li role="presentation" class=""><a href="#home_animation_7" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>REDEMPTION</a></li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane animated fadeIn active" id="home_animation_3">
                     <%- include('./por.ejs') -%> 
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn  " id="home_animation_4">
                     <%- include('./pr.ejs') -%> 
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn  " id="home_animation_5">
                   <%- include('./vac.ejs') -%> 
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn  " id="home_animation_6">
                  <%- include('./ado.ejs') -%> 
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeIn  " id="home_animation_7">
                  <%- include('./red.ejs') -%> 
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script>
    function add(i,x) {

    if ( JSON.parse(i) == null) {
        swal("Error", 'Please select requirement/s to add.', "error")
    } else {
        $.ajax({
            type: 'POST',
            dataType: "json",
            data: {
                id: i,
                trans: x
            },
            url: '/CVO_TransactionRequirements/add',
            success: function(data) {
                swal("Added", 'You successfully added Requirement/s.', "success").then((value) => {
                    location.reload();
                });
            }
        });
    }

}

function remove(i,x) {
    swal({
            title: "Are you sure you want to remove this requirement?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: 'POST',
                    dataType: "json",
                    data: {
                        id: i,
                        trans: x
                    },
                    url: '/CVO_TransactionRequirements/remove',
                    success: function(data) {
                        swal("Removed", 'You successfully removed the requirement.', "success").then((value) => {
                            location.reload();
                        });
                    }
                });
            }
        });

}
</script>



<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
