<%- include('../../../templates/CVO-Head-Location.ejs') -%>
<script>
   document.getElementById("vaccine_list").className="active";
   document.getElementById("antirabies_list").className="active";
   document.getElementById("maintenance_list").className="active";
</script>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
   <div class="block-header">
      <h2>ANTI RABIES VACCINE</h2>
   </div>
   <div class="card">
      <div class="body">
         <div align="center">
            <a data-toggle="modal" data-target="#add">
            <button type="button" class="edit btn btn-primary btn-block waves-effect" data-toggle="tooltip" data-placement="top" title="Add">
            <i class="material-icons">add</i>ADD NEW ANTI RABIES VACCINE
            </button></a>
         </div>
         <br>
         <div class="row clearfix">
            <div >
               <!-- Nav tabs -->
               <ul class="nav nav-tabs tab-nav-right" role="tablist" >
                  <li role="presentation" class="active"><a href="#home_animation_2" data-toggle="tab" aria-expanded="false"><i class="material-icons">list</i>ALL</a></li>
               </ul>
               <!-- Tab panes -->
               <div class="tab-content">
                  <div role="tabpanel" class="tab-pane animated pulse active" id="home_animation_2">
                     <div class="body">
                        <div class="table-responsive">
                           <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Anti Rabies Vaccine Name</th>
                                   
                                    <th>Manufacturer</th>
                                    <th>Active?</th>
                                    <th>Action</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <% va.forEach(function(i){ %>
                                 <tr>
                                    <td><%= i.int_VaccineId %></td>
                                    <td><%= i.str_VaccineName %></td>
                                   
                                    <td><%= i.str_Manufacturer %></td>
                                    <td> <div class="switch" align="center">
                                                                    <label><input type="checkbox" checked ><span class="lever switch-col-blue"></span></label>
                                                                    <span>Active</span>
                                                                </div></td>
                                    <td>
                                       <div align="center">
                                          <a data-target="#edit" data-toggle="modal" onclick="modal_iteration('<%= JSON.stringify(i) %>');">
                                          <button type="button" class="editButton btn btn-primary waves-effect" data-toggle="tooltip" data-placement="top" title="Edit">
                                          <i class="material-icons">mode_edit</i>
                                          </button>
                                          </a>
                                          <button type="button" class="btn btn-grey  waves-effect" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                            <i class="material-icons">delete</i></button>

                                       </div>
                                    </td>
                                 </tr>
                                 <% }); %>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                  <div role="tabpanel" class="tab-pane animated fadeInRight" id="profile_animation_2">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<%- include('./addVaccine.ejs') -%>
<%- include('./updateVaccine.ejs') -%>
<%- include('../../../templates/CVO-Footer-Location.ejs') -%>
<script>
   //PUTTING ALL THE DETAILS IN THE MODAL
   function modal_iteration(vaccineDetails){
   document.getElementById('modal_ID').value=JSON.parse(vaccineDetails).int_VaccineId;
   document.getElementById('modal_VaccineName').value=JSON.parse(vaccineDetails).str_VaccineName;
   if(JSON.parse(vaccineDetails).int_VaccineClassification == 1){
       $("#modal_Classification").val(1).change();
   }
   else{
     $("#modal_Classification").val(0).change();
   }
   document.getElementById('modal_Manufacturer').value=JSON.parse(vaccineDetails).str_Manufacturer;
   }
   /*
       $(function(){
       $('.editButton').on('click',function(){
       $('#modal_ID').val($(this).data('vd1'))
       $('#modal_VaccineName').val($(this).data('vd2'))
       $classification = $(this).data('vd3')
       if ($classification == 0)
       {
           $("#modal_Classification").val(0).change();
       }
       else {
           $("#modal_Classification").val(1).change();
       }
       $('#modal_Manufacturer').val($(this).data('vd4'))
       })
     }); */
</script>